Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

fix: update About and Open Source sections to clarify hash-anchor links
  tests/integration/README.md
Due: none

fix: capitalize 'Markdown' for consistency in documentation
  content/blog/mermaid-diagrams-comprehensive-guide.md
Due: none

fix: add styled quote callout to blog content instructions
  .github/instructions/blog-content.instructions.md
Due: none

fix: add quote callout style to CONTRIBUTING.md for clarity
  CONTRIBUTING.md
Due: none

fix: add instruction to never wrap frontmatter values in blog content guidelines
  .github/instructions/blog-content.instructions.md
Due: none

fix: add structured data scripts for organization and website JSON-LD
  app/[locale]/layout.tsx
Due: app

refactor: update structured data mocks in tests and remove unused head component
  app/[locale]/__tests__/head.test.tsx
  app/[locale]/__tests__/layout.test.tsx
  app/[locale]/head.tsx
Due: app

fix: update footer link accessibility text to use translation key
  components/BlogPostContent.tsx
  components/Footer.tsx
  messages/en.json
  messages/sv.json
Due: components

fix: adjust exit status handling in main function for better error reporting
  scripts/biome-lint-strict.js
Due: none

fix: enhance language switcher dropdown with AnimatePresence for better animations
  components/LanguageSwitcher.tsx
  components/__tests__/LanguageSwitcher.test.tsx
Due: components

fix: redact sensitive token in long bash command example for security
  content/blog/syntax-highlighting-test.md
Due: none

fix: update keyboard navigation tests to use listbox role for better accessibility
  components/__tests__/LanguageSwitcher.test.tsx
Due: components

fix: update keyboard navigation tests to ensure current option remains active during key events
  components/__tests__/LanguageSwitcher.test.tsx
Due: components

fix: format script tags for organization and website JSON-LD for better readability
  app/[locale]/layout.tsx
Due: app

fix: remove unnecessary blank line in MermaidRenderer test suite for cleaner code
  components/__tests__/MermaidRenderer.test.tsx
Due: components

fix: update verification checklist to ensure planned component changes improve functionality
  .github/skills/review-comments-validator/SKILL.md
Due: none

fix: update LanguageSwitcher to correctly focus active option and handle keyboard navigation
  components/LanguageSwitcher.tsx
  components/__tests__/LanguageSwitcher.test.tsx
Due: components

fix: update troubleshooting checklist formatting for improved clarity
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: update markdownlint configuration to exclude additional test report directories
  .markdownlint-cli2.jsonc
Due: none

fix: simplify cleanup logic in AlertIconInjector by removing all existing icon containers unconditionally
  components/AlertIconInjector.tsx
Due: components

fix: update visibility check for collaboration link to support multiple variations
  tests/integration/homepage.spec.ts
Due: none

fix: correct parameter name for New-VMSwitch command in NAT configuration
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: enhance date handling in getStaticPageDates and improve cookie utility functions
  lib/__tests__/file-dates.test.ts
  lib/consent-events.ts
  lib/cookie-utils.ts
  lib/file-dates.ts
  lib/slug-utils.ts
Due: lib

fix: update blog content instructions and prompts for clarity and markdownlint rules
  .github/instructions/blog-content.instructions.md
  .github/prompts/create-blog-post.prompt.md
Due: none

fix: refine scrollbar styling for toc-scrollable to clarify color usage
  app/blog-content.css
Due: app

fix: update slug-utils import to use slug-utils-server for consistency
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  app/[locale]/blog/[slug]/page.tsx
Due: app

fix: improve accessibility and styling for various components
  components/AlertIconInjector.tsx
  components/BlogPostContent.tsx
  components/BlogPostGrid.tsx
  components/ConfirmationModal.tsx
  components/CookieConsentBanner.tsx
  components/CookieSettings.tsx
  components/CopyButton.tsx
  components/MermaidRenderer.tsx
Due: components

fix: refactor slug utilities for client-server compatibility and enhance accessibility features
  app/blog-content.css
  components/CopyButton.tsx
  components/ErrorPage.tsx
  components/Hero.tsx
  components/ScrollToTop.tsx
  components/TableOfContents.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/TableOfContents.test.tsx
  content/blog/in-place-upgrade-azure-vm.md
  content/blog/mermaid-diagrams-comprehensive-guide.md
  content/blog/powershell-dsc-introduction.md
  content/blog/what-is-dscv3.md
  lib/__tests__/slug-utils.test.ts
  lib/slug-utils-client.ts
  lib/slug-utils-server.ts
  lib/slug-utils.ts
Due: components, app, lib

fix: remove !important from mermaid diagram text styles for improved specificity
  app/blog-content.css
Due: app

fix: streamline icon container cleanup to prevent duplicates in AlertIconInjector
  components/AlertIconInjector.tsx
Due: components

fix: enhance tests for cookie consent, blog content loading, file dates, and slug utilities with improved error handling and fallback logic
  components/__tests__/CookieConsentBanner.test.tsx
  lib/__tests__/blog.test.ts
  lib/__tests__/file-dates.test.ts
  lib/__tests__/page-translations.test.ts
  lib/__tests__/slug-utils.test.ts
Due: components, lib

Refactor structured data handling and improve accessibility for social icons
  app/[locale]/__tests__/layout.test.tsx
  app/[locale]/layout.tsx
  app/__tests__/layout.test.tsx
  app/code-block-components.css
  app/layout.tsx
  components/AlertIconInjector.tsx
  components/BlogPostContent.tsx
  components/Footer.tsx
  components/SocialIcons.tsx
  components/Team.tsx
  components/__tests__/AlertIconInjector.test.tsx
  components/__tests__/BlogPostContent.test.tsx
  components/__tests__/SocialIcons.test.tsx
  components/__tests__/Team.test.tsx
  lib/team.ts
  messages/en.json
  messages/sv.json
Due: components, app, lib

fix: re-initialize Mermaid diagrams on theme change and improve rendering logic
  components/MermaidRenderer.tsx
  components/__tests__/MermaidRenderer.test.tsx
Due: components

fix: update Footer component to conditionally set target and rel attributes for social links
  components/BlogPostGrid.tsx
  components/Footer.tsx
  components/__tests__/Footer.test.tsx
Due: components

fix: update links to reference user profile and issue in DSC configuration repository guide
  content/blog/dsc-configuration-repository.md
Due: none

fix: enhance keyboard accessibility for team member cards
  components/Team.tsx
Due: components

fix: correct markdownlint comment for consistency
  content/blog/in-place-upgrade-azure-vm.md
Due: none

fix: update links in PowerShell DSC introduction for accuracy and relevance
  content/blog/powershell-dsc-introduction.md
Due: none

fix: update link for IPFire installation step to remove unnecessary query parameters
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: none

fix: improve validation for required fields in blog-read analytics route
  app/api/analytics/blog-read/__tests__/route.test.ts
  app/api/analytics/blog-read/route.ts
Due: app

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
