Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

refactor: utilize parseCookies utility for improved cookie parsing in CookieCacheManager
  lib/cookie-consent.ts
Due: lib

refactor: enhance cookie utility functions for validation and parsing
  lib/cookie-utils.ts
Due: lib

refactor: add validateStringArray function for improved specialty validation
  lib/team.ts
Due: lib

refactor: simplify ThemeContext.Provider by removing unnecessary handleSetTheme function
  lib/theme-context.tsx
Due: lib

refactor: replace ensureDir with cleanDir to remove stale content in buildBlogData
  scripts/build-blog-data.js
Due: none

refactor: improve blog data handling by cleaning stale content files during rebuild
  lib/__tests__/blog.test.ts
  lib/__tests__/structured-data.test.ts
  lib/blog.ts
  lib/cookie-consent.ts
  lib/page-translations.ts
  lib/structured-data.ts
  scripts/__tests__/build-blog-data.test.mjs
  scripts/build-blog-data.js
Due: lib

refactor: enhance error handling in build-blog-data tests by verifying console error and exit calls
  scripts/__tests__/build-blog-data.test.mjs
Due: none

refactor: update date formatting in BlogPostGrid using useFormatter for consistency
  components/BlogPostGrid.tsx
  components/__tests__/BlogPostGrid.test.tsx
  lib/language-preferences.ts
Due: components, lib

refactor: validate post date before formatting in BlogPostGrid component
  components/BlogPostGrid.tsx
  components/__tests__/BlogPostGrid.test.tsx
Due: components

Resolve improvements (#249)
  .github/instructions/tests.instructions.md
  app/[locale]/blog/[slug]/page.tsx
  app/[locale]/blog/page.tsx
  app/code-block-components.css
  components/BlogIcons.tsx
  components/BlogPostContent.tsx
  components/BlogPostGrid.tsx
  components/CookieSettings.tsx
  components/Hero.tsx
  components/__tests__/BlogIcons.test.tsx
  components/__tests__/BlogPostGrid.test.tsx
  lib/__tests__/blog.test.ts
  lib/__tests__/structured-data.test.ts
  lib/analytics.ts
  lib/blog.ts
  lib/cookie-consent.ts
  lib/cookie-utils.ts
  lib/language-preferences.ts
  lib/page-translations.ts
  lib/structured-data.ts
  lib/team.ts
  lib/theme-context.tsx
  package-lock.json
  package.json
  postcss.config.js
  scripts/__tests__/build-blog-data.test.mjs
  scripts/build-blog-data.js
  vitest.config.ts
  vitest.setup.ts
Due: components, app, lib

Refactor syntax highlighting in blog articles
  CONTRIBUTING.md
  README.md
  app/__tests__/prism-theme.test.ts
  app/__tests__/shiki-theme.test.ts
  app/code-block-components.css
  app/layout.tsx
  app/prism-theme.css
  app/shiki-theme.css
  components/BlogPostGrid.tsx
  components/BlogPostMarkdownContent.tsx
  components/CodeBlockEnhancer.tsx
  components/MermaidRenderer.tsx
  components/__tests__/BlogPostContent.test.tsx
  components/__tests__/CodeBlockEnhancer.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
  package-lock.json
  package.json
  scripts/__tests__/build-blog-data-integration.test.js
  scripts/build-blog-data.js
Due: components, app

docs: clarify choice of rehype-pretty-code over @shikijs/rehype in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

refactor: remove unused date utility import from BlogPostGrid component
  components/BlogPostGrid.tsx
Due: components

feat: add "shikijs" to custom spell check words
  .cspell.jsonc
Due: none

refactor: remove defaultColor option from rehypePrettyCode configuration
  scripts/__tests__/build-blog-data-rehype-plugins.test.mjs
  scripts/build-blog-data.js
Due: none

fix: update coverage thresholds to 85% for branches, functions, lines, and statements
  vitest.config.ts
Due: none

fix: update X social link to point to the new URL
  lib/team.ts
Due: lib

feat: add rehype plugins for code block wrapping and table scrolling
  lib/structured-data.ts
  lib/team.ts
  scripts/__tests__/build-blog-data-rehype-plugins.test.mjs
  scripts/build-blog-data.js
  scripts/plugins/rehype-code-block-wrapper.js
  scripts/plugins/rehype-table-scroll.js
Due: lib

Refactor syntax highlighting in blog articles (#250)
  .cspell.jsonc
  CONTRIBUTING.md
  README.md
  app/__tests__/prism-theme.test.ts
  app/__tests__/shiki-theme.test.ts
  app/code-block-components.css
  app/layout.tsx
  app/prism-theme.css
  app/shiki-theme.css
  components/BlogPostGrid.tsx
  components/BlogPostMarkdownContent.tsx
  components/CodeBlockEnhancer.tsx
  components/MermaidRenderer.tsx
  components/__tests__/BlogPostContent.test.tsx
  components/__tests__/CodeBlockEnhancer.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
  lib/structured-data.ts
  lib/team.ts
  package-lock.json
  package.json
  scripts/__tests__/build-blog-data-integration.test.js
  scripts/__tests__/build-blog-data-rehype-plugins.test.mjs
  scripts/build-blog-data.js
  scripts/plugins/rehype-code-block-wrapper.js
  scripts/plugins/rehype-table-scroll.js
  vitest.config.ts
Due: components, app, lib

Potential fix for 1 code quality finding (#248)
  components/__tests__/Hero.test.tsx
Due: components

feat: add consent-reset event handling to show banner immediately
  components/CookieConsentBanner.tsx
  components/__tests__/CookieConsentBanner.test.tsx
Due: components

feat: add dimmed backdrop to cookie consent banner for improved user interaction
  components/CookieConsentBanner.tsx
Due: components

fix: update focus styles for cookie consent banner buttons
  components/CookieConsentBanner.tsx
Due: components

fix: reset cached focusable elements on consent reset event
  components/CookieConsentBanner.tsx
Due: components

fix: add cookie consent dismissal in blog listing and post tests
  tests/integration/blog-listing.spec.ts
  tests/integration/blog-post.spec.ts
Due: none

fix: refactor cookie consent handling in integration tests
  .cspell.jsonc
  tests/integration/blog-listing.spec.ts
  tests/integration/blog-post.spec.ts
  tests/integration/helpers.ts
Due: none

Dim backdrop when visible consent banner (#251)
  .cspell.jsonc
  components/CookieConsentBanner.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  tests/integration/blog-listing.spec.ts
  tests/integration/blog-post.spec.ts
  tests/integration/helpers.ts
Due: components

feat: add cross-platform Folder DSC v3 resource article and related images
  app/blog-content.css
  content/blog/cross-platform-folder-dsc-v3-resource.md
  lib/slug-utils-client.ts
  public/blog-images/cross-platform-folder-dsc-v3-resource/cross-platform-config-folder-windows-linux-macos.png
  public/blog-images/cross-platform-folder-dsc-v3-resource/cross-platform-dsc-v3-folder-resource-mof-vs-class-based.png
Due: app, lib

fix: correct list numbering and formatting in cross-platform Folder DSC v3 resource article
  content/blog/cross-platform-folder-dsc-v3-resource.md
Due: none

fix: update excerpt guidance for SEO summary in blog post prompt
  .github/instructions/blog-content.instructions.md
  .github/prompts/create-blog-post.prompt.md
Due: none

feat: add cross-platform Folder DSC v3 resource article (#252)
  .github/instructions/blog-content.instructions.md
  .github/prompts/create-blog-post.prompt.md
  app/blog-content.css
  content/blog/cross-platform-folder-dsc-v3-resource.md
  lib/slug-utils-client.ts
  public/blog-images/cross-platform-folder-dsc-v3-resource/cross-platform-config-folder-windows-linux-macos.png
  public/blog-images/cross-platform-folder-dsc-v3-resource/cross-platform-dsc-v3-folder-resource-mof-vs-class-based.png
Due: app, lib

feat: add HTTPS support for Next.js development server
  .cspell.jsonc
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .gitignore
  README.md
  next.config.ts
  package.json
Due: none

feat: enhance HTTPS development setup and update allowedDevOrigins
  next.config.ts
  package.json
Due: none

feat: add cloudflared and trycloudflare to cspell dictionary
  .cspell.jsonc
Due: none

feat: add HTTPS development instructions and Cloudflare tunnel setup to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat: update Content Security Policy to include 127.0.0.1 for WebSocket connections
  next.config.ts
Due: none

feat: add predev script for HTTPS development setup
  package.json
Due: none

feat: add HTTPS support for Next.js development server (#253)
  .cspell.jsonc
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .gitignore
  CONTRIBUTING.md
  README.md
  next.config.ts
  package.json
Due: none

feat: enhance blog-read analytics route with input validation and clamping
  app/api/analytics/blog-read/__tests__/route.test.ts
  app/api/analytics/blog-read/route.ts
  lib/blog.ts
Due: app, lib

refactor: clean up sankey-beta data for improved readability
  content/blog/mermaid-diagrams-comprehensive-guide.md
Due: none
