Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

fix: add image and alt text to syntax highlighting test for improved presentation
  content/blog/syntax-highlighting-test.md
Due: none

fix: clarify test description for fallback behavior in file-dates test
  lib/__tests__/file-dates.test.ts
Due: lib

fix: improve clarity and instructions for WinGet installation in blog post
  content/blog/automating-power-bi-rs-with-dsc-v3.md
Due: none

fix: enhance verification checklist instructions for project-wide checks
  .github/skills/review-comments-validator/SKILL.md
Due: none

fix: adjust className for goHome link to use inline-flex for better layout
  components/ErrorPage.tsx
Due: components

fix: format regex match for quoted ID in addHeadingIds function
  lib/slug-utils-server.ts
Due: lib

fix: rename rescanRafId to scanRafId for consistency in CodeBlockEnhancer
  components/CodeBlockEnhancer.tsx
Due: components

fix: enhance mobile table behavior checks in blog post integration tests
  tests/integration/blog-post.spec.ts
Due: none

fix: update excerpt for clarity in Hyper-V NAT configuration guide
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: update imports and enhance language handling in cookies page and layout
  app/[locale]/cookies/__tests__/page.test.tsx
  app/[locale]/cookies/page.tsx
  app/[locale]/layout.tsx
Due: app

fix: clarify markdownlint rules and wrapping guidelines in blog post prompt
  .github/prompts/create-blog-post.prompt.md
Due: none

fix: refactor block handling logic in extract_prompt_blocks.sh for clarity and consistency
  .github/skills/extract-coderabbit-ai-review-comments/scripts/extract_prompt_blocks.sh
Due: none

fix: refine styles and accessibility attributes in blog components and tests
  app/blog-content.css
  app/code-block-components.css
  components/BlogPostContent.tsx
  components/__tests__/ImageEnhancer.integration.test.tsx
  components/__tests__/ImageEnhancer.test.tsx
  components/__tests__/LoadingScreen.test.tsx
  components/__tests__/OpenSource.test.tsx
Due: components, app

fix: validate request body and improve field extraction in blog-read endpoint
  app/api/analytics/blog-read/route.ts
Due: app

fix: clarify warning message handling for DSC v3 in PowerShell module installation instructions
  content/blog/automating-power-bi-rs-with-dsc-v3.md
Due: none

fix: improve wording for clarity in PowerShell usage instructions
  content/blog/dsc-configuration-repository.md
Due: none

fix: improve excerpt formatting for clarity in Hyper-V Time Machine setup guide
  content/blog/hyperv-time-machine-setup.md
Due: none

fix: improve imageAlt formatting for better readability in in-place upgrade guide
  content/blog/in-place-upgrade-azure-vm.md
Due: none

fix: clarify wording in Mermaid diagrams guide introduction
  content/blog/mermaid-diagrams-comprehensive-guide.md
Due: none

fix: enhance error handling and add loading state in translation hooks
  lib/__tests__/blog.test.ts
  lib/__tests__/page-translations.test.ts
  messages/en.json
  messages/sv.json
Due: lib

fix: remove outdated update-packages skill and related prompts
  .github/prompts/review-comments.prompt.md
  .github/skills/update-packages/SKILL.md
  .github/skills/update-packages/agents/openai.yaml
Due: none

fix: update image and alt text for syntax highlighting test article
  content/blog/syntax-highlighting-test.md
  public/syntax-highlighting-test-multi-language-code-cover.png.png
Due: none

fix: add syntax highlighting test multi-language code cover image
  public/syntax-highlighting-test-multi-language-code-cover.png
Due: none

fix: clarify import guidelines for relative and cross-package imports
  .github/copilot-instructions.md
Due: none

fix: enhance guidelines for validating changes and AI instruction files
  .github/skills/review-comments-validator/SKILL.md
Due: none

fix: update Node.js version to 24 in workflow files
  .github/workflows/build-check.yml
  .github/workflows/bundle-size.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/integration-tests.yml
  .github/workflows/quality-checks.yml
Due: none

fix: enhance accessibility attributes for icons and improve test cases
  app/[locale]/blog/__tests__/loading.test.tsx
  app/[locale]/layout.tsx
  app/[locale]/team/[memberId]/TeamMemberClient.tsx
  app/api/analytics/blog-read/__tests__/route.test.ts
  app/api/analytics/blog-read/route.ts
  app/code-block-components.css
  components/BlogIcons.tsx
  components/BlogPostMarkdownContent.tsx
  components/ConfirmationModal.tsx
  components/__tests__/BlogIcons.test.tsx
  components/__tests__/OpenSource.test.tsx
  components/__tests__/ReadingProgress.test.tsx
Due: components, app

fix: correct formatting and improve warning messages in blog posts
  content/blog/automating-power-bi-rs-with-dsc-v3.md
  content/blog/install-ipfire-on-a-hypervm-guest.md
  content/blog/mermaid-diagrams-comprehensive-guide.md
Due: none

fix: update cspell dictionary, remove auto-save settings, and enhance test assertions
  .cspell.jsonc
  .devcontainer/devcontainer.json
  .vscode/settings.json
  CONTRIBUTING.md
  lib/__tests__/blog.test.ts
  test-utils/mocks/loading-spinner.tsx
Due: lib

fix: update test assertions for loading spinner, blog post locale, and clear mocks in various test files
  app/[locale]/__tests__/loading.test.tsx
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  components/__tests__/ImageEnhancer.test.tsx
  components/__tests__/LoadingSpinner.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
Due: components, app

fix: update wording in blockquote note for clarity
  content/blog/blockquotes-examples.md
Due: none

fix: update various components for improved functionality and accessibility
  app/[locale]/blog/[slug]/page.tsx
  app/[locale]/team/[memberId]/__tests__/TeamMemberClient.test.tsx
  components/ConfirmationModal.tsx
  components/CookieConsentBanner.tsx
  components/CopyButton.tsx
  components/ErrorPage.tsx
  components/LanguageSwitcher.tsx
  components/MermaidRenderer.tsx
  components/ReadingProgress.tsx
  components/TableOfContents.tsx
  components/__tests__/About.test.tsx
Due: components, app

fix: update analytics route and tests for anonymous visitor ID handling and GDPR compliance
  app/api/analytics/blog-read/__tests__/route.test.ts
  app/api/analytics/blog-read/route.ts
  docs/analytics-privacy-design.md
  lib/cookie-consent.ts
Due: app, lib

fix: update cookie consent components to use translation keys for purpose and duration
  components/CookieConsentBanner.tsx
  components/CookieSettings.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/CookieSettings.test.tsx
  lib/__tests__/cookie-ui-utils.test.ts
  lib/cookie-consent.ts
  messages/en.json
  messages/sv.json
Due: components, lib

fix: update documentation to clarify steps for re-enabling hashed IP storage
  docs/analytics-privacy-design.md
Due: none

fix: improve MermaidRenderer to handle stale runs and prevent unnecessary processing
  components/MermaidRenderer.tsx
Due: components

fix: enhance tests for TeamMember components and improve error handling in MermaidRenderer
  app/[locale]/team/[memberId]/__tests__/TeamMemberClient.test.tsx
  app/[locale]/team/[memberId]/__tests__/loading-page.test.tsx
  app/[locale]/team/[memberId]/__tests__/not-found-page.test.tsx
  app/[locale]/team/__tests__/page.test.tsx
  app/__tests__/sitemap.test.ts
  app/api/analytics/blog-read/__tests__/route.test.ts
  components/__tests__/MermaidRenderer.test.tsx
Due: components, app

fix: specify type for request body in POST handler to improve type safety
  app/api/analytics/blog-read/route.ts
Due: app

fix: add aria-hidden and role attributes to modal backdrop for improved accessibility
  components/ConfirmationModal.tsx
Due: components

fix: refactor link URL generation to use centralized utility function
  components/Footer.tsx
Due: components
