Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

fix: improve related posts rendering logic for better visibility and performance
  components/BlogPostContent.tsx
Due: components

Add homepage integration tests and refactor page rendering
  app/[locale]/__tests__/page.test.tsx
  app/[locale]/page.tsx
  app/globals.css
  messages/en.json
  messages/sv.json
  tests/integration/README.md
  tests/integration/homepage.md
  tests/integration/homepage.spec.ts
Due: app

Fix formatting in homepage integration tests documentation
  tests/integration/homepage.md
Due: none

Add cspell configuration for homepage integration tests
  .cspell.jsonc
  tests/integration/homepage.spec.ts
Due: none

Add homepage integration tests and refactor page rendering (#216)
  .cspell.jsonc
  app/[locale]/__tests__/page.test.tsx
  app/[locale]/page.tsx
  app/globals.css
  messages/en.json
  messages/sv.json
  tests/integration/README.md
  tests/integration/homepage.md
  tests/integration/homepage.spec.ts
Due: app

Refactor Home component to remove framer-motion and simplify structure
  app/[locale]/page.tsx
Due: app

feat: enhance team and terms pages with metadata generation and static params
  app/[locale]/__tests__/page.test.tsx
  app/[locale]/cookies/__tests__/page.test.tsx
  app/[locale]/cookies/page.tsx
  app/[locale]/page.tsx
  app/[locale]/privacy/PrivacyPageClient.tsx
  app/[locale]/privacy/__tests__/PrivacyPageClient.test.tsx
  app/[locale]/privacy/__tests__/page.test.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/team/TeamPageClient.tsx
  app/[locale]/team/[memberId]/__tests__/page.test.tsx
  app/[locale]/team/[memberId]/page.tsx
  app/[locale]/team/__tests__/TeamPageClient.test.tsx
  app/[locale]/team/__tests__/page.test.tsx
  app/[locale]/team/page.tsx
  app/[locale]/terms/TermsPageClient.tsx
  app/[locale]/terms/__tests__/TermsPageClient.test.tsx
  app/[locale]/terms/__tests__/page.test.tsx
  app/[locale]/terms/page.tsx
  lib/__tests__/team.test.ts
  lib/team.ts
  messages/cookies.sv.json
  tests/integration/page-metadata.md
  tests/integration/page-metadata.spec.ts
Due: app, lib

feat: enhance page metadata and layout components
  app/[locale]/cookies/__tests__/page.test.tsx
  app/[locale]/cookies/page.tsx
  app/[locale]/privacy/PrivacyPageClient.tsx
  app/[locale]/team/[memberId]/__tests__/page.test.tsx
  app/[locale]/team/[memberId]/page.tsx
  app/[locale]/terms/TermsPageClient.tsx
  components/LegalPageLayout.tsx
  components/__tests__/LegalPageLayout.test.tsx
  tests/integration/page-metadata.md
  tests/integration/page-metadata.spec.ts
Due: components, app

feat: centralize team member IDs for consistency in data retrieval
  lib/team.ts
Due: lib

fix: update last updated date text color for better visibility refactor: reorder vitest imports for consistency and clarity test: change team member ID validation to use for-of loop
  components/LegalPageLayout.tsx
  lib/__tests__/team.test.ts
Due: components, lib

fix: simplify ScrollToTop mock component syntax
  components/__tests__/LegalPageLayout.test.tsx
Due: components

feat: refactor Privacy and Terms pages to use LegalSection component and pass last updated date as prop
  app/[locale]/cookies/__tests__/page.test.tsx
  app/[locale]/privacy/PrivacyPageClient.tsx
  app/[locale]/privacy/__tests__/PrivacyPageClient.test.tsx
  app/[locale]/privacy/__tests__/page.test.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/team/[memberId]/__tests__/page.test.tsx
  app/[locale]/team/[memberId]/page.tsx
  app/[locale]/terms/TermsPageClient.tsx
  app/[locale]/terms/__tests__/TermsPageClient.test.tsx
  app/[locale]/terms/__tests__/page.test.tsx
  app/[locale]/terms/page.tsx
  components/LegalSection.tsx
  components/__tests__/LegalSection.test.tsx
  tests/integration/page-metadata.md
Due: components, app

fix: update descriptions for website preferences and third-party services in privacy messages
  messages/privacy.en.json
  messages/privacy.sv.json
Due: none

feat: standardize translation keys in Privacy and Terms pages for consistency
  app/[locale]/privacy/PrivacyPageClient.tsx
  app/[locale]/privacy/__tests__/PrivacyPageClient.test.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/team/[memberId]/page.tsx
  app/[locale]/terms/__tests__/TermsPageClient.test.tsx
  components/LegalSection.tsx
  components/__tests__/LegalSection.test.tsx
  messages/privacy.en.json
  messages/privacy.sv.json
Due: components, app

refactor: simplify privacy translations structure by removing nested privacy object
  lib/__tests__/page-translations.test.ts
  lib/page-translations.ts
Due: lib

Fix CR-02 (#217)
  app/[locale]/__tests__/page.test.tsx
  app/[locale]/cookies/__tests__/page.test.tsx
  app/[locale]/cookies/page.tsx
  app/[locale]/privacy/PrivacyPageClient.tsx
  app/[locale]/privacy/__tests__/PrivacyPageClient.test.tsx
  app/[locale]/privacy/__tests__/page.test.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/team/TeamPageClient.tsx
  app/[locale]/team/[memberId]/__tests__/page.test.tsx
  app/[locale]/team/[memberId]/page.tsx
  app/[locale]/team/__tests__/TeamPageClient.test.tsx
  app/[locale]/team/__tests__/page.test.tsx
  app/[locale]/team/page.tsx
  app/[locale]/terms/TermsPageClient.tsx
  app/[locale]/terms/__tests__/TermsPageClient.test.tsx
  app/[locale]/terms/__tests__/page.test.tsx
  app/[locale]/terms/page.tsx
  components/LegalPageLayout.tsx
  components/LegalSection.tsx
  components/__tests__/LegalPageLayout.test.tsx
  components/__tests__/LegalSection.test.tsx
  lib/__tests__/page-translations.test.ts
  lib/__tests__/team.test.ts
  lib/page-translations.ts
  lib/team.ts
  messages/cookies.sv.json
  messages/privacy.en.json
  messages/privacy.sv.json
  tests/integration/page-metadata.md
  tests/integration/page-metadata.spec.ts
Due: components, app, lib

Add HTML escaping for aria-label and title attributes in addHeadingIds function
  lib/__tests__/slug-utils.test.ts
  lib/slug-utils.ts
Due: lib

Enhance cookie handling in tests and utility functions for special characters
  lib/__tests__/cookie-utils.test.ts
  lib/cookie-utils.ts
Due: lib

Refactor Header component to create MotionLink outside of map function for improved performance
  components/Header.tsx
Due: components

Add HTML entity decoding to prevent double-encoding in addHeadingIds function
  lib/__tests__/slug-utils.test.ts
  lib/slug-utils.ts
Due: lib

Add safety checks for HTML entity decoding to prevent invalid code points
  lib/slug-utils.ts
Due: lib

Add tests for HTML entity decoding in extractCleanText function
  lib/__tests__/slug-utils.test.ts
Due: lib

CR-04 (#218)
  components/Header.tsx
  lib/__tests__/cookie-utils.test.ts
  lib/__tests__/slug-utils.test.ts
  lib/cookie-utils.ts
  lib/slug-utils.ts
Due: components, lib

Refactor TeamMemberClient to use locale in back link and add tests for TeamMemberClient and prism-theme
  app/[locale]/team/[memberId]/TeamMemberClient.tsx
  app/[locale]/team/[memberId]/__tests__/TeamMemberClient.test.tsx
  app/__tests__/prism-theme.test.ts
  app/prism-theme.css
  lib/__tests__/analytics.test.ts
  lib/analytics.ts
Due: app, lib

Enhance Image Modal and Image Enhancer components with accessibility features and keyboard navigation support; add integration tests for image interactions and accessibility attributes.
  components/ImageEnhancer.tsx
  components/ImageModal.tsx
  components/__tests__/ImageEnhancer.integration.test.tsx
  components/__tests__/ImageEnhancer.test.tsx
  components/__tests__/ImageModal.test.tsx
  messages/en.json
  messages/sv.json
Due: components

Refactor next-intl mock in tests for stable translator reference; update ImageEnhancer to allow re-enhancement on locale change
  components/ImageEnhancer.tsx
  components/__tests__/ImageEnhancer.integration.test.tsx
  components/__tests__/ImageEnhancer.test.tsx
Due: components

Add locale error and not-found pages with corresponding tests; enhance loading and error components
  app/[locale]/__tests__/error.test.tsx
  app/[locale]/__tests__/not-found.test.tsx
  app/[locale]/blog/[slug]/__tests__/loading.test.tsx
  app/[locale]/blog/[slug]/loading.tsx
  app/[locale]/error.tsx
  app/[locale]/not-found.tsx
  app/__tests__/not-found.test.tsx
  app/not-found.tsx
  components/ErrorPage.tsx
  components/Footer.tsx
  components/NotFoundPage.tsx
  components/__tests__/ErrorPage.test.tsx
  components/__tests__/Footer.test.tsx
  components/__tests__/NotFoundPage.test.tsx
  messages/en.json
  messages/sv.json
Due: components, app

Refactor framer-motion mocks to a global setup; remove individual mocks in test files
  .github/instructions/tests.instructions.md
  app/[locale]/privacy/__tests__/PrivacyPageClient.test.tsx
  app/[locale]/team/[memberId]/__tests__/TeamMemberClient.test.tsx
  app/[locale]/team/__tests__/TeamPageClient.test.tsx
  app/[locale]/terms/__tests__/TermsPageClient.test.tsx
  components/__tests__/About.test.tsx
  components/__tests__/BlogPostContent.test.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/CookieSettings.test.tsx
  components/__tests__/Hero.test.tsx
  components/__tests__/ImageEnhancer.integration.test.tsx
  components/__tests__/ImageModal.test.tsx
  components/__tests__/LanguageSwitcher.test.tsx
  components/__tests__/LegalPageLayout.test.tsx
  components/__tests__/ThemeToggle.test.tsx
  components/__tests__/suppressConsoleErrors.ts
  lib/__tests__/blog.test.ts
  vitest.setup.ts
Due: components, app, lib

Add tests for Header component and implement theme context validation
  components/__tests__/Header.test.tsx
  components/__tests__/ImageEnhancer.test.tsx
  eslint.config.mjs
  lib/__tests__/theme-context.test.tsx
  lib/theme-context.tsx
Due: components, lib

Implement caching for validated blog data and add reset function; enhance unit tests for cache behavior
  lib/__tests__/blog.test.ts
  lib/blog.ts
Due: lib

Refactor imports and enhance error/not-found components; add tests for improved coverage and mock handling
  app/[locale]/__tests__/error.test.tsx
  app/[locale]/__tests__/not-found.test.tsx
  app/__tests__/not-found.test.tsx
  app/not-found.tsx
  components/ErrorPage.tsx
  components/Footer.tsx
  components/NotFoundPage.tsx
  components/__tests__/ErrorPage.test.tsx
  components/__tests__/Footer.test.tsx
  components/__tests__/ImageModal.test.tsx
  components/__tests__/NotFoundPage.test.tsx
  vitest.setup.ts
Due: components, app

Refactor tests and components for improved clarity and functionality; enhance accessibility with aria-labels and update mock imports
  app/[locale]/__tests__/not-found.test.tsx
  components/Footer.tsx
  components/Header.tsx
  components/__tests__/Footer.test.tsx
  components/__tests__/Header.test.tsx
  components/__tests__/ImageEnhancer.test.tsx
  components/__tests__/ImageModal.test.tsx
  components/__tests__/NotFoundPage.test.tsx
  lib/__tests__/blog.test.ts
  lib/__tests__/theme-context.test.tsx
  lib/blog.ts
  messages/en.json
  messages/sv.json
  vitest.setup.ts
Due: components, app, lib

Enhance test setups and assertions; improve mock handling and clarity in various test files
  app/[locale]/__tests__/not-found.test.tsx
  components/Footer.tsx
  components/__tests__/Header.test.tsx
  lib/__tests__/blog.test.ts
  lib/__tests__/theme-context.test.tsx
  vitest.setup.ts
Due: components, app, lib

Refactor error handling tests for blog post and homepage; update assertions to check for visible 404 headings and correct link roles
  tests/integration/blog-post.spec.ts
  tests/integration/homepage.spec.ts
Due: none

Refactor test setup for improved mock handling; ensure localStorage and matchMedia are configurable, and correct static asset mocking pattern
  lib/__tests__/blog.test.ts
  lib/__tests__/theme-context.test.tsx
  vitest.setup.ts
Due: lib

Refactor localStorage and matchMedia mock definitions for improved readability and consistency
  lib/__tests__/theme-context.test.tsx
Due: lib

Refactor error handling tests for blog post and homepage; enhance assertions for 404 visibility and link types
  tests/integration/blog-post.md
  tests/integration/homepage.md
  vitest.setup.ts
Due: none

feat: add loading and not found pages for blog and team sections
  app/[locale]/blog/[slug]/not-found.tsx
  app/[locale]/blog/loading.tsx
  app/[locale]/loading.tsx
  app/[locale]/team/[memberId]/loading.tsx
  app/[locale]/team/[memberId]/not-found.tsx
  components/CodeBlockEnhancer.tsx
  components/ConfirmationModal.tsx
  components/CopyButton.tsx
  components/LoadingScreen.tsx
  components/LoadingSpinner.tsx
  components/ScrollToTop.tsx
  components/TableOfContents.tsx
  components/ThemeToggle.tsx
  components/__tests__/CodeBlockEnhancer.test.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/CopyButton.test.tsx
  components/__tests__/LoadingSpinner.test.tsx
  components/__tests__/TableOfContents.test.tsx
  components/__tests__/Team.test.tsx
  components/__tests__/ThemeToggle.test.tsx
  lib/page-translations.ts
  messages/en.json
  messages/sv.json
Due: components, app, lib
