Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# Bundle analysis configuration
bundle_analysis:
  # Warning threshold for bundle size increases
  warning_threshold: '5%'
  # Status type: "informational" (default), True (fail on threshold), False (disable)
  status: 'informational'

# PR comment configuration
comment:
  # Always post comment even if bundle has not changed, set to true to only post comment if bundle changes.
  # Set to 'bundle_increase' if you want to post comments only when there are bundle size increases greater than the threshold.
  require_bundle_changes: false
  # Minimum bundle change threshold to trigger comment
  #bundle_change_threshold: '500b'
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

feat: add GitHub Copilot instructions and workflow configuration
  .cspell.jsonc
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
  CONTRIBUTING.md
Due: none

fix: improve output formatting for development tools verification in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

fix: correct wording in TypeScript standards for clarity
  .github/copilot-instructions.md
Due: none

refactor: reorganize build scripts for improved clarity and structure
  package.json
Due: none

refactor: remove redundant setup steps for Copilot environment
  .github/workflows/copilot-setup-steps.yml
Due: none

refactor: remove outdated reference to Copilot setup documentation
  CONTRIBUTING.md
Due: none

refactor: remove development tools verification step from workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

refactor: update prebuild and prepreview scripts for consistency
  package.json
Due: none

feat: add GitHub Copilot instructions and workflow configuration (#72)
  .cspell.jsonc
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
  CONTRIBUTING.md
  package.json
Due: none

fix: update team member name from 'sonja' to 'testsson' in English and Swedish translations
  messages/en.json
  messages/sv.json
Due: none

fix: adjust author profile image styling
  app/[locale]/blog/[slug]/page.tsx
Due: app

fix: enhance team member display with improved styling and social links
  app/[locale]/blog/[slug]/page.tsx
Due: app

fix: refactor team test file for improved mock translation handling and structure
  lib/__tests__/team.test.ts
Due: lib

fix: remove arrow from 'back to team' text in English and Swedish translations
  messages/en.json
  messages/sv.json
Due: none

Implement dynamic author profiles in blog posts (#71)
  app/[locale]/blog/[slug]/page.tsx
  app/[locale]/team/[memberId]/page.tsx
  components/Team.tsx
  lib/__tests__/team.test.ts
  lib/team.ts
  messages/en.json
  messages/sv.json
Due: components, app, lib

chore: update dependencies to latest versions
  package-lock.json
  package.json
Due: none

fix: update @typescript-eslint/parser to version 8.35.0
  package-lock.json
  package.json
Due: none

chore: update dependencies to latest versions (#74)
  package-lock.json
  package.json
Due: none

Add graphical profile, also known as a visual style guide or brand guidelines
  app/[locale]/brand-showcase/page.tsx
  components/BrandShowcase.tsx
  components/__tests__/BrandShowcase.test.tsx
  components/brand.ts
  docs/brand-assets-readme.md
  docs/brand-style-guide.md
  docs/brand-usage-examples.md
Due: components, app

feat: add user interaction tests for tab navigation in BrandShowcase component
  components/__tests__/BrandShowcase.test.tsx
Due: components

fix: update type definitions for mocked components in BrandShowcase tests
  components/__tests__/BrandShowcase.test.tsx
Due: components

fix: update link to the Complete Brand Style Guide in brand usage examples
  docs/brand-usage-examples.md
Due: none

feat: add brand guidelines and visual style guide section to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add TypographyShowcase component and related tests, update brand profile documentation, and enhance icon usage guidelines
  app/[locale]/brand-showcase/page.tsx
  components/BrandShowcase.tsx
  components/Footer.tsx
  components/__tests__/AccessibilityShowcase.test.tsx
  components/__tests__/AnimationsShowcase.test.tsx
  components/__tests__/BrandShowcase.test.tsx
  components/__tests__/ColorShowcase.test.tsx
  components/__tests__/ComponentsShowcase.test.tsx
  components/__tests__/TypographyShowcase.test.tsx
  components/brand.ts
  components/brandprofile/AccessibilityShowcase.tsx
  components/brandprofile/AnimationsShowcase.tsx
  components/brandprofile/BrandShowcase.tsx
  components/brandprofile/ColorShowcase.tsx
  components/brandprofile/ComponentsShowcase.tsx
  components/brandprofile/IconsShowcase.tsx
  components/brandprofile/TypographyShowcase.tsx
  components/brandprofile/__tests__/BrandShowcase.test.tsx
  components/brandprofile/__tests__/ColorShowcase.test.tsx
  components/brandprofile/__tests__/ComponentsShowcase.test.tsx
  components/brandprofile/__tests__/IconsShowcase.test.tsx
  components/brandprofile/__tests__/TypographyShowcase.test.tsx
  components/brandprofile/index.ts
  docs/icons-documentation.md
  messages/en.json
  messages/sv.json
Due: components, app

fix: correct formatting in brand-assets-readme.md and clarify gradient text usage
  docs/brand-assets-readme.md
Due: none

fix: update code block syntax to specify text format in brand-style-guide.md
  docs/brand-style-guide.md
Due: none

fix: update link format in brand-usage-examples.md for style guide reference
  docs/brand-usage-examples.md
Due: none

test: add comprehensive tests for BrandShowcase and IconsShowcase components, remove outdated tests for ColorShowcase, ComponentsShowcase, and TypographyShowcase
  components/__tests__/BrandShowcase.test.tsx
  components/__tests__/IconsShowcase.test.tsx
  components/brandprofile/__tests__/ColorShowcase.test.tsx
  components/brandprofile/__tests__/ComponentsShowcase.test.tsx
  components/brandprofile/__tests__/TypographyShowcase.test.tsx
Due: components

test: add enhanced accessibility tests for TypographyShowcase component
  components/__tests__/TypographyShowcase.test.tsx
Due: components

feat: enhance ColorShowcase component with clipboard functionality and user interaction tests
  components/__tests__/ColorShowcase.test.tsx
  components/brandprofile/ColorShowcase.tsx
Due: components

fix: update Download component type definition in AccessibilityShowcase tests
  components/__tests__/AccessibilityShowcase.test.tsx
Due: components

test: add user interaction tests for AccessibilityShowcase component
  components/__tests__/AccessibilityShowcase.test.tsx
  package-lock.json
  package.json
Due: components

refactor: simplify translation mock in AccessibilityShowcase tests and update rendered text checks
  components/__tests__/AccessibilityShowcase.test.tsx
Due: components

test: add user interaction tests for ComponentsShowcase component
  components/__tests__/ComponentsShowcase.test.tsx
Due: components

refactor: remove unnecessary eslint-disable comments in cloudflare-env.d.ts
  cloudflare-env.d.ts
Due: none

refactor: comment out unused imports and mock data in blog data sanitization tests
  scripts/__tests__/build-blog-data-sanitization.test.mjs
Due: none

refactor: remove unused imports in blog data sanitization tests
  scripts/__tests__/build-blog-data-sanitization.test.mjs
Due: none

refactor: remove unused path import in security audit script
  scripts/security-audit.js
Due: none

refactor: simplify visit function in remarkBlockquoteTypes plugin
  scripts/plugins/blockquote-types.js
Due: none
