Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# Bundle analysis configuration
bundle_analysis:
  # Warning threshold for bundle size increases
  warning_threshold: '5%'
  # Status type: "informational" (default), True (fail on threshold), False (disable)
  status: 'informational'

# PR comment configuration
comment:
  # Always post comment even if bundle has not changed, set to true to only post comment if bundle changes.
  # Set to 'bundle_increase' if you want to post comments only when there are bundle size increases greater than the threshold.
  require_bundle_changes: false
  # Minimum bundle change threshold to trigger comment
  #bundle_change_threshold: '500b'
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

fix: improve error message styling in MermaidRenderer componentrun
  components/MermaidRenderer.tsx
Due: components

feat: add guide for configuring NAT for nested Hyper-V guests (#106)
  .cspell.jsonc
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  app/[locale]/blog/[slug]/page.tsx
  components/MermaidRenderer.tsx
  components/__tests__/MermaidRenderer.test.tsx
  content/blog/configure-nat-azure-vm-hyperv-host.md
  content/blog/mermaid-diagrams-comprehensive-guide.md
  package-lock.json
  package.json
  public/professional-showing-azure-nat.png
  scripts/build-blog-data.js
Due: components, app

feat: add security policy and vulnerability reporting guidelines
  SECURITY.md
Due: none

chore: update dependencies to latest versions
  package-lock.json
  package.json
Due: none

fix: update security policy table for clarity on supported versions
  SECURITY.md
Due: none

fix: clarify resolution timeline for security vulnerability reports
  SECURITY.md
Due: none

fix: update resolution timeline for security vulnerability reports and clarify response details
  SECURITY.md
Due: none

feat: add issue templates for bug reports, documentation, feature requests, and questions
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/pull_request_template.md
Due: none

fix: update link to Contributing Guidelines in pull request template
  .github/pull_request_template.md
Due: none

fix: update links in bug report template to use relative paths for security policy
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

fix: standardize formatting in documentation issue template
  .github/ISSUE_TEMPLATE/documentation.yml
Due: none

fix: update links in question template to use relative paths
  .github/ISSUE_TEMPLATE/question.yml
Due: none

fix: update feature type options in feature request template for clarity
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: update links in issue templates to use absolute paths for consistency
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/pull_request_template.md
Due: none

feat: add security policy, issue and PR templates (#108)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/pull_request_template.md
  SECURITY.md
Due: none

feat: Implement cookie consent management and analytics tracking
  CONTRIBUTING.md
  README.md
  app/[locale]/cookies/page.tsx
  app/[locale]/layout.tsx
  components/CookieConsentBanner.tsx
  components/CookieSettings.tsx
  components/Footer.tsx
  components/LanguageSwitcher.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  lib/__tests__/analytics.test.ts
  lib/__tests__/cookie-consent.test.ts
  lib/__tests__/language-preferences.test.ts
  lib/analytics.ts
  lib/cookie-consent.ts
  lib/language-preferences.ts
  lib/theme-context.tsx
  messages/en.json
  messages/privacy.en.json
  messages/privacy.sv.json
  messages/sv.json
Due: components, app, lib

feat: Add cookie policy page with translations and last modified date tracking
  app/[locale]/cookies/page.tsx
  lib/file-dates.ts
  lib/page-dates.json.d.ts
  lib/page-translations.ts
  messages/cookies.en.json
  messages/cookies.sv.json
  messages/en.json
  messages/sv.json
  scripts/build-page-dates.js
Due: app, lib

feat: Enhance tests for cookie consent and language preferences handling
  components/__tests__/CookieConsentBanner.test.tsx
  lib/__tests__/analytics.test.ts
  lib/__tests__/language-preferences.test.ts
Due: components, lib

feat: Add aria-label for accessibility in CookieConsentBanner component
  components/CookieConsentBanner.tsx
Due: components

fix: Adjust formatting for last updated date in CookiesPage and improve fetch call formatting in analytics tests
  app/[locale]/cookies/page.tsx
  lib/__tests__/analytics.test.ts
Due: app, lib

chore: Remove unused Cloudflare Workerd dependencies from package-lock.json
  package-lock.json
Due: none

feat: Dynamically import CookieConsentBanner to optimize bundle size
  app/[locale]/layout.tsx
Due: app

refactor: Remove loading state from CookieConsentBanner actions for cleaner logic
  components/CookieConsentBanner.tsx
Due: components

feat: Add button types and aria-labels for improved accessibility in CookieConsentBanner
  components/CookieConsentBanner.tsx
Due: components

feat: Add error handling and user feedback for cookie settings saving in CookieSettings
  components/CookieSettings.tsx
  messages/en.json
  messages/sv.json
Due: components

feat: Add button types for improved accessibility in CookieSettings
  components/CookieSettings.tsx
Due: components

refactor: Update section titles in CONTRIBUTING.md for clarity and consistency
  CONTRIBUTING.md
Due: none

fix: Clarify description of strictly necessary cookies in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

test: Enhance useBlogAnalytics tests with timer advancements and additional assertions
  lib/__tests__/analytics.test.ts
Due: lib

fix: Remove marketing cookie from consent settings and cleanupCookies test
  lib/__tests__/cookie-consent.test.ts
Due: lib

test: Enhance useBlogAnalytics tests with timer advancements for timeSpent calculation
  lib/__tests__/analytics.test.ts
Due: lib

test: Enhance cookie consent tests with operation tracking and cleanup assertions
  lib/__tests__/cookie-consent.test.ts
Due: lib

test: Improve cookieMock implementation for better cookie handling and parsing
  lib/__tests__/language-preferences.test.ts
Due: lib

fix: Correct formatting in cleanupCookies function and add deleteCookie function documentation
  lib/cookie-consent.ts
Due: lib

fix: Update FAQ text for clarity in English and Swedish translations
  messages/en.json
  messages/sv.json
Due: none

fix: Correct emoji formatting in README for cookie consent and privacy analytics
  README.md
Due: none

docs: Add description of cookie categories in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

test: Enhance cookie consent tests to verify cookie setting and structure
  lib/__tests__/cookie-consent.test.ts
Due: lib

fix: Remove FAQ entry from footer in English and Swedish translations
  messages/en.json
  messages/sv.json
Due: none

docs: Enhance documentation for getDefaultLanguage function with language detection strategy and examples
  lib/language-preferences.ts
Due: lib
