Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

fix: remove unused mocks for next/image in tests for cleaner code
  app/[locale]/team/[memberId]/__tests__/TeamMemberClient.test.tsx
  app/__tests__/metadata.test.ts
  components/__tests__/BlogPostGrid.test.tsx
Due: components, app

fix: enhance item rendering in LegalSection to handle duplicates and improve key assignment
  components/LegalSection.tsx
  components/ScrollToTop.tsx
  lib/analytics.ts
  metadata.ts
  scripts/security-audit.js
Due: components, lib

fix: update test steps in blog post integration tests for clarity and consistency
  tests/integration/blog-post.md
Due: none

fix: correct grammar and improve clarity in what-is-dscv3.md
  content/blog/what-is-dscv3.md
Due: none

fix: improve clarity and correct typos in mermaid diagrams guide
  content/blog/mermaid-diagrams-comprehensive-guide.md
Due: none

fix: correct numbering in common pitfalls section of infrastructure-as-code-best-practices.md
  content/blog/infrastructure-as-code-best-practices.md
Due: none

fix: improve phrasing for clarity in in-place upgrade guide
  content/blog/in-place-upgrade-azure-vm.md
Due: none

fix: correct typos for clarity in DSC resource tutorial
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: clarify import structure in components instructions
  .github/instructions/components.instructions.md
Due: none

fix: clarify wording in version specifiers section of package updates instructions
  .github/instructions/package-updates.instructions.md
Due: none

fix: update image sizes for responsive design in multiple components
  app/[locale]/team/[memberId]/TeamMemberClient.tsx
  components/About.tsx
  components/BlogPostGrid.tsx
  components/Header.tsx
  components/Hero.tsx
  components/ImageModal.tsx
  components/LanguageSwitcher.tsx
  components/Team.tsx
Due: components, app

fix: update settings dropdown to use popover semantics and improve aria-label handling in Header tests
  components/__tests__/Header.test.tsx
  components/__tests__/Hero.test.tsx
Due: components

fix: update Export() method usage instructions for clarity in DSC resource tutorial
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: allow gitleaks for private key content in SSH signing guide
  content/blog/ssh-signing-keys-for-github-codespaces.md
Due: none

Update .github/skills/review-comments-validator/SKILL.md
  .github/skills/review-comments-validator/SKILL.md
Due: none

fix: update translation keys in TermsPageClient for consistency
  app/[locale]/terms/TermsPageClient.tsx
Due: app

fix: update translation keys in TermsPage and related tests for consistency
  app/[locale]/terms/page.tsx
  lib/__tests__/page-translations.test.ts
  lib/page-translations.ts
  messages/terms.en.json
  messages/terms.sv.json
Due: app, lib

fix: add missing afterEach import in ReadingProgress test file
  components/__tests__/ReadingProgress.test.tsx
Due: components

fix: reorder title and subtitle in TermsTranslations interface for consistency
  lib/page-translations.ts
Due: lib

fix: remove unnecessary blank line in blog-content styles for cleaner code
  app/blog-content.css
Due: app

fix: correct hyphenation in post-upgrade section and improve warning message formatting
  content/blog/in-place-upgrade-azure-vm.md
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: none

fix: enhance accessibility and styling for cookie consent components
  components/CookieCategoryToggle.tsx
  components/CookieConsentBanner.tsx
  components/CookieSettings.tsx
  components/ThemeToggle.tsx
Due: components

fix: clarify wording in the License for Specific Assets document
  LICENSE-ASSETS.md
Due: none

fix: update info callouts to note for consistency in documentation
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: invalidate review comments suggesting formatting changes that conflict with Biome configuration
  .github/skills/review-comments-validator/SKILL.md
Due: none

fix: update formatting and numbering in documentation files for clarity
  CONTRIBUTING.md
  LICENSE-ASSETS.md
  lib/__tests__/blog.test.ts
  tests/integration/cross-origin-warning.md
Due: lib

fix: refactor layout and head components for improved structure and clarity
  app/[locale]/__tests__/layout.test.tsx
  app/[locale]/head.tsx
  app/[locale]/layout.tsx
  app/[locale]/team/__tests__/page.test.tsx
  app/[locale]/terms/__tests__/page.test.tsx
  components/ErrorPage.tsx
  components/OpenSource.tsx
  components/ReadingProgress.tsx
  components/Team.tsx
  components/__tests__/About.test.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/LoadingScreen.test.tsx
  lib/__tests__/language-preferences.test.ts
  lib/analytics.ts
  lib/cookie-utils.ts
  lib/slug-utils.ts
  lib/theme-context.tsx
  scripts/__tests__/biome-lint-strict.test.mjs
Due: components, app, lib

fix: refactor getHrefUrl function to improve locale handling and remove redundancy
  .github/skills/review-comments-validator/SKILL.md
  components/Header.tsx
Due: components

fix: update mini-plan requirements to ensure unit testing for new code paths
  .github/skills/review-comments-validator/SKILL.md
Due: none

test: add unit tests for Head component and enhance Team component tests
  app/[locale]/__tests__/head.test.tsx
  app/[locale]/team/[memberId]/__tests__/TeamMemberClient.test.tsx
  components/__tests__/AlertIconInjector.test.tsx
  components/__tests__/Header.test.tsx
  components/__tests__/TableOfContents.test.tsx
  components/__tests__/Team.test.tsx
  lib/__tests__/page-translations.test.ts
  scripts/__tests__/biome-lint-strict.test.mjs
  scripts/__tests__/remark-image-paths.test.mjs
Due: components, app, lib

Add comprehensive Playwright test specifications for blog listing and refine existing test documentation
  CONTRIBUTING.md
  README.md
  SECURITY.md
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
  content/blog/hyperv-time-machine-setup.md
  content/blog/in-place-upgrade-azure-vm.md
  content/blog/infrastructure-as-code-best-practices.md
  content/blog/install-ipfire-on-a-hypervm-guest.md
  content/blog/powershell-dsc-introduction.md
  content/blog/ssh-signing-keys-for-github-codespaces.md
  tests/integration/README.md
  tests/integration/blog-listing.md
  tests/integration/blog-listing.spec.md
  tests/integration/cookie-consent.md
  tests/integration/cross-origin-warning.md
  tests/integration/homepage.md
  tests/integration/page-metadata.md
Due: none

docs: add important callout to blog content instructions
  .github/instructions/blog-content.instructions.md
Due: none

fix: update link to biome.json in Copilot instructions for clarity
  .github/copilot-instructions.md
Due: none

fix: prevent removal of alert icon containers without matching content key
  components/AlertIconInjector.tsx
Due: components

fix: update TableOfContents to refresh scroll indicators based on items signature
  components/TableOfContents.tsx
Due: components

fix: update ImageEnhancer tests to use role="dialog" instead of data-testid
  components/__tests__/ImageEnhancer.test.tsx
Due: components

fix: update spacing for language labels in code blocks to support browsers without :has()
  app/code-block-components.css
Due: app

fix: correct formatting of Get-NetNat command in documentation
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: correct wording for PSDSC version reference in tutorial
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: correct formatting of VHDX size description in installation guide
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: none
