Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# Bundle analysis configuration
bundle_analysis:
  # Warning threshold for bundle size increases
  warning_threshold: '5%'
  # Status type: "informational" (default), True (fail on threshold), False (disable)
  status: 'informational'

# PR comment configuration
comment:
  # Always post comment even if bundle has not changed, set to true to only post comment if bundle changes.
  # Set to 'bundle_increase' if you want to post comments only when there are bundle size increases greater than the threshold.
  require_bundle_changes: false
  # Minimum bundle change threshold to trigger comment
  #bundle_change_threshold: '500b'
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

feat: add imageAlt field to blog post metadata and update related components
  app/[locale]/blog/[slug]/page.tsx
  app/[locale]/blog/page.tsx
  lib/blog.ts
  scripts/build-blog-data.js
Due: app, lib

fix: add overflow-x auto to blog content for better responsiveness
  app/globals.css
Due: app

fix: correct numbering and formatting in DSC v3 installation instructions
  content/blog/what-is-dscv3.md
Due: none

fix: update hover background color for blog content table rows
  app/globals.css
Due: app

fix: add missing imageAlt field for fallback blog posts
  app/[locale]/blog/[slug]/page.tsx
  app/[locale]/blog/page.tsx
Due: app

fix: format imageAlt field in fallback blog post data for consistency
  app/[locale]/blog/[slug]/page.tsx
Due: app

fix: update call-to-action title for PowerShell Open Source community in English and Swedish
  messages/en.json
  messages/sv.json
Due: none

fix: correct PowerShell environment variable syntax and format code block for installation verification
  content/blog/what-is-dscv3.md
Due: none

fix: update installation instructions for DSC v3 and improve quick start section
  content/blog/what-is-dscv3.md
Due: none

fix: update cspell configuration to disallow compound words and include .cspell.jsonc
  .cspell.jsonc
Due: none

fix: correct spelling of "configuration" in note about DSC v3 usage
  content/blog/what-is-dscv3.md
Due: none

fix: correct title and section headings for clarity in blockquotes examples
  content/blog/blockquotes-examples.md
Due: none

fix: correct spelling and formatting in various files for clarity and consistency
  .cspell.jsonc
  components/BlogIcons.tsx
  components/__tests__/AnchorLinks.test.ts
  lib/__tests__/page-translations.test.ts
  lib/__tests__/team.test.ts
  messages/privacy.sv.json
  scripts/plugins/__tests__/blockquote-types.test.js
  scripts/plugins/blockquote-types.js
Due: components, lib

fix: correct grammatical error in blockquotes examples documentation
  content/blog/blockquotes-examples.md
Due: none

fix: improve clarity in quote section description in blockquotes examples
  content/blog/blockquotes-examples.md
Due: none

fix: update Swedish dictionary version and adjust related entries in cspell configuration
  .cspell.jsonc
  lib/__tests__/team.test.ts
  package-lock.json
  package.json
Due: lib

fix: update expected initials for three-word and multi-word names in getAuthorInitials tests
  lib/__tests__/team.test.ts
Due: lib

fix: correct capitalization in title of blockquotes examples
  content/blog/blockquotes-examples.md
Due: none

fix: improve clarity in description of regular block quotations
  content/blog/blockquotes-examples.md
Due: none

fix: add missing imageAlt description for blockquotes examples
  content/blog/blockquotes-examples.md
Due: none

fix: improve clarity in descriptions of block quotations
  content/blog/blockquotes-examples.md
Due: none

feat: add introductory article on Desired State Configuration v3 (#93)
  .cspell.jsonc
  app/[locale]/blog/[slug]/page.tsx
  app/[locale]/blog/page.tsx
  app/globals.css
  components/BlogIcons.tsx
  components/__tests__/AnchorLinks.test.ts
  content/blog/blockquotes-examples.md
  content/blog/what-is-dscv3.md
  lib/__tests__/page-translations.test.ts
  lib/__tests__/team.test.ts
  lib/blog.ts
  messages/en.json
  messages/privacy.sv.json
  messages/sv.json
  package-lock.json
  package.json
  scripts/build-blog-data.js
  scripts/plugins/__tests__/blockquote-types.test.js
  scripts/plugins/blockquote-types.js
Due: components, app, lib

fix: update category to 'Template' for consistency across blog posts
  content/blog/blockquotes-examples.md
  content/blog/syntax-highlighting-test.md
  content/blog/template.md
Due: none

fix: add known issues section for DSC executable output errors
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

feat: enhance beginner's guide with cross-platform setup instructions and additional details
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: correct typos in the DSC resource guide
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: add 'hashtable' to the cspell dictionary
  .cspell.jsonc
Due: none

fix: correct code block formatting in error message example
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

feat: add Export() method and enhance documentation for class-based DSC resource
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

feat: create initial TODO document with email and social links, project references, and styling suggestions
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: correct typos in environment variable instructions and resource configuration link
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: correct grammatical errors in DSC troubleshooting instructions
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: improve clarity and grammar in module manifest note
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: update shell script syntax and improve export method verbose message
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

feat: add beginner's guide for creating a class-based DSC v3 resource (#86)
  .cspell.jsonc
  content/blog/blockquotes-examples.md
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
  content/blog/syntax-highlighting-test.md
  content/blog/template.md
Due: none

chore(deps): bump packages july
  package.json
Due: none

lock file
  package-lock.json
Due: none

chore(deps): bump packages july (#94)
  package-lock.json
  package.json
Due: none

feat: update blog post metadata with new publication dates and categories
  content/blog/automating-sql-server-power-bi-rs-with-dsc-v3.md
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
  content/blog/dsc-configuration-repository.md
  content/blog/infrastructure-as-code-best-practices.md
Due: none
