Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

fix: update command for retrieving active NAT sessions to use Format-List for better readability
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: correct minor grammatical errors in DSC resource tutorial
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: improve formatting for clarity in macOS Time Machine setup instructions
  content/blog/hyperv-time-machine-setup.md
Due: none

fix: add "go to section" translations in English and Swedish language files
  messages/en.json
  messages/sv.json
Due: none

fix: update Docker image version to ubuntu-24.04 in README.md
  .devcontainer/README.md
Due: none

fix: remove outdated reference to workflows in Node version synchronization instructions
  .github/instructions/node-version.instructions.md
Due: none

fix: update Node.js setup to use version from .nvmrc in workflow files
  .github/workflows/build-check.yml
  .github/workflows/bundle-size.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/integration-tests.yml
  .github/workflows/quality-checks.yml
Due: none

fix: update tests to improve accessibility and environment variable handling
  app/[locale]/blog/[slug]/__tests__/loading.test.tsx
  app/api/analytics/blog-read/__tests__/route.test.ts
  components/__tests__/MermaidRenderer.test.tsx
  components/__tests__/NotFoundPage.test.tsx
Due: components, app

fix: improve modal overflow handling and enhance copy fallback mechanism
  components/ConfirmationModal.tsx
  components/CopyButton.tsx
  components/ImageEnhancer.tsx
  components/Team.tsx
Due: components

fix: update import path for ImageEnhancer component in integration tests
  components/__tests__/ImageEnhancer.integration.test.tsx
Due: components

fix: clarify Samba UID verification instructions in Time Machine setup guide
  content/blog/hyperv-time-machine-setup.md
Due: none

fix: update image paths in in-place upgrade Azure VM guide
  content/blog/in-place-upgrade-azure-vm.md
Due: none

fix: enhance test assertions and error handling in NotFound and prism-theme tests
  app/[locale]/__tests__/not-found.test.tsx
  app/__tests__/prism-theme.test.ts
  components/__tests__/MermaidRenderer.test.tsx
Due: components, app

fix: streamline local Node version setup instructions in README
  README.md
Due: none

fix: update section header and remove instruction conflicts from Copilot guidelines
  .github/copilot-instructions.md
Due: none

fix: update key identifiers for value items in About component
  components/About.tsx
Due: components

fix: improve copy functionality in CopyButton component with success check
  .github/instructions/node-version.instructions.md
  components/CopyButton.tsx
Due: components

fix: update Link component styling for consistent alignment
  components/ErrorPage.tsx
Due: components

fix: update link handling in OpenSource component to allow native browser behavior for modified clicks
  components/OpenSource.tsx
Due: components

fix: remove redundant width classes from ThemeToggle component
  components/ThemeToggle.tsx
Due: components

fix: update Team component tests to ensure social links open externally and do not trigger profile navigation
  components/__tests__/Team.test.tsx
Due: components

fix: correct punctuation in RequiredModules instruction for clarity
  content/blog/dsc-configuration-repository.md
Due: none

fix: update import paths and improve loading screen component typings
  app/[locale]/blog/[slug]/__tests__/loading.test.tsx
  app/[locale]/team/page.tsx
  components/BlogIcons.tsx
  components/LoadingScreen.tsx
  components/__tests__/Footer.test.tsx
  components/__tests__/LegalPageLayout.test.tsx
Due: components, app

chore: update dependencies and devDependencies in package.json
  biome.json
  package-lock.json
  package.json
Due: none

chore: update dependencies and devDependencies in package.json (#247)
  biome.json
  package-lock.json
  package.json
Due: none

Apply suggested fix to components/__tests__/Hero.test.tsx from Copilot Autofix
  components/__tests__/Hero.test.tsx
Due: components

feat: add structured data for blog posts and breadcrumbs
  app/[locale]/blog/[slug]/page.tsx
  app/[locale]/blog/page.tsx
  lib/__tests__/structured-data.test.ts
  lib/structured-data.ts
Due: app, lib

chore: remove autoprefixer from dependencies in package.json and package-lock.json
  package-lock.json
  package.json
Due: none

chore: remove autoprefixer from PostCSS configuration
  postcss.config.js
Due: none

feat: mock next/navigation for improved test defaults
  vitest.setup.ts
Due: none

refactor: replace hardcoded colors with CSS variables for improved theming
  app/code-block-components.css
Due: app

feat: add data attributes for icon types in BlogIcons component
  components/BlogIcons.tsx
Due: components

feat: add priority attribute to image in BlogPostContent for improved loading performance
  components/BlogPostContent.tsx
Due: components

feat: update test instructions to include next/navigation mock details
  .github/instructions/tests.instructions.md
Due: none

fix: update exclusion patterns in Vitest config to include .git directory
  vitest.config.ts
Due: none

fix: change handleSaveSettings and confirmResetConsent to synchronous functions
  components/CookieSettings.tsx
Due: components

refactor: move heroImages array outside of Hero component for better readability
  components/Hero.tsx
Due: components

refactor: replace path data checks with data-icon-type attributes in BlogIcons tests
  components/__tests__/BlogIcons.test.tsx
Due: components

refactor: improve isDataEqual function for performance and reliability
  lib/analytics.ts
Due: lib
