Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

fix: refactor AlertIconInjector to improve DOM element handling and enhance test coverage
  components/AlertIconInjector.tsx
  components/__tests__/AlertIconInjector.test.tsx
Due: components

fix: enhance post metadata tests to ensure valid data and handle errors
  lib/__tests__/blog.test.ts
Due: lib

fix: enhance accessibility labels and improve modal behavior in ConfirmationModal and OpenSource components
  components/ConfirmationModal.tsx
  components/OpenSource.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/Header.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
  components/__tests__/OpenSource.test.tsx
  lib/__tests__/slug-utils.test.ts
  lib/slug-utils-server.ts
  messages/en.json
  messages/sv.json
Due: components, lib

fix: update ConfirmationModal to trigger onClose when clicking the backdrop
  components/ConfirmationModal.tsx
  components/__tests__/ConfirmationModal.test.tsx
Due: components

feat: add extraction script and configuration for CodeRabbit AI review comments
  .github/skills/extract-coderabbit-ai-review-comments/SKILL.md
  .github/skills/extract-coderabbit-ai-review-comments/agents/openai.yaml
  .github/skills/extract-coderabbit-ai-review-comments/scripts/extract_prompt_blocks.sh
Due: none

fix: update NAT configuration IP address for Hyper-V guests
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: remove unnecessary whitespace trimming for markdown files in .editorconfig
  .editorconfig
Due: none

fix: update import path for metadata to use alias
  metadata.ts
Due: none

fix: correct capitalization in markdownlint rules for consistency
  .github/prompts/create-blog-post.prompt.md
Due: none

fix: improve margin and overflow handling for code block components
  app/code-block-components.css
Due: app

fix: simplify Home component by removing unnecessary params
  app/[locale]/__tests__/page.test.tsx
  app/[locale]/page.tsx
Due: app

fix: update import path for TeamMemberClient in test file
  app/[locale]/team/[memberId]/__tests__/TeamMemberClient.test.tsx
Due: app

fix: enhance accessibility by updating aria-labels in ConfirmationModal and CookieConsentBanner
  components/ConfirmationModal.tsx
  components/CookieConsentBanner.tsx
Due: components

fix: add unique key to listbox for improved rendering in LanguageSwitcher
  components/LanguageSwitcher.tsx
Due: components

fix: rename interface for consistency in LegalPageLayout component
  components/LegalPageLayout.tsx
Due: components

fix: enhance accessibility by adding aria-label to Link in NotFoundPage component
  components/NotFoundPage.tsx
Due: components

fix: enhance accessibility by adding aria-labels using helper functions in Team component
  components/Team.tsx
Due: components

fix: enhance accessibility by adding flexbox styles to social link buttons in Team component
  components/Team.tsx
Due: components

fix: refactor ThemeToggle component for improved layout and accessibility
  components/ThemeToggle.tsx
Due: components

test: enhance accessibility in tests by updating aria-labels and roles
  components/__tests__/About.test.tsx
  components/__tests__/BlogPostGrid.test.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/CookieCategoryToggle.test.tsx
  components/__tests__/Header.test.tsx
  components/__tests__/NotFoundPage.test.tsx
Due: components

fix: improve extractTableOfContentsClient error handling and update regex in extractTableOfContentsServer
  lib/slug-utils-client.ts
  lib/slug-utils-server.ts
Due: lib

fix: update import paths in analytics and blog tests for consistency
  lib/__tests__/analytics.test.ts
  lib/__tests__/blog.test.ts
Due: lib

fix: add view profile text and aria label for confirmation modal in localization files
  messages/en.json
  messages/sv.json
Due: none

fix: refactor loadPageDatesData for improved date validation and sanitization
  lib/file-dates.ts
Due: lib

fix: define ThemeProviderProps interface for improved type clarity
  lib/theme-context.tsx
Due: lib

fix: update import paths in language-preferences for consistency
  lib/language-preferences.ts
Due: lib

fix: update link for authoring class-based DSC resource for consistency
  content/blog/powershell-dsc-introduction.md
Due: none

fix: update TL;DR section for clarity and consistency in versioning
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: none

fix: update category and improve clarity in installation instructions
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: enhance focus management in CookieConsentBanner for better accessibility
  components/CookieConsentBanner.tsx
Due: components

fix: streamline excerpt guidelines for SEO clarity in blog post prompt
  .github/prompts/create-blog-post.prompt.md
Due: none

fix: add aria-label for email link in PrivacyPageClient for improved accessibility
  app/[locale]/privacy/PrivacyPageClient.tsx
Due: app

fix: update category for consistency in blog post metadata
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: refactor language alternates in generateMetadata for dynamic URL generation
  app/[locale]/terms/page.tsx
Due: app

fix: remove redundant findThemeScriptNode function and reuse findScriptNodeById for theme script injection
  app/__tests__/layout.test.tsx
Due: app

fix: update span element in AlertIconInjector to use className for styling
  components/AlertIconInjector.tsx
Due: components

fix: simplify resolvedCloseAriaLabel assignment in ConfirmationModal for clarity
  components/ConfirmationModal.tsx
Due: components

fix: rename interface CookieCategoryToggleProps to ComponentProps for consistency
  components/CookieCategoryToggle.tsx
Due: components

fix: update LanguageSwitcher dropdown styling for improved responsiveness
  components/LanguageSwitcher.tsx
Due: components

fix: enhance button styling in Team component for better accessibility
  components/Team.tsx
Due: components
