Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

fix: update Image component styles for responsive sizing
  components/ImageModal.tsx
Due: components

fix: update focus-visible ring color for dark mode in NotFoundPage component
  components/NotFoundPage.tsx
Due: components

fix: update key prop for language dropdown to ensure consistent rendering
  components/LanguageSwitcher.tsx
Due: components

fix: update aria-label for projects list to use translation function
  components/OpenSource.tsx
  messages/en.json
  messages/sv.json
Due: components

fix: update aria-label for close button in ConfirmationModal test
  components/__tests__/ConfirmationModal.test.tsx
Due: components

fix: update translations in CookieSettings test to use keys instead of hardcoded strings
  components/__tests__/CookieSettings.test.tsx
Due: components

fix: update indicator test to reference the correct DOM element
  components/__tests__/Hero.test.tsx
Due: components

fix: update category in blog post to reflect accurate classification
  content/blog/automating-power-bi-rs-with-dsc-v3.md
Due: none

fix: clarify cross-platform support details in DSC resource tutorial
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: enhance URL sanitization and improve accessibility in components
  components/BlogPostMarkdownContent.tsx
  components/CookieSettings.tsx
  components/Footer.tsx
  components/TableOfContents.tsx
  components/__tests__/BlogPostMarkdownContent.test.tsx
  components/__tests__/Footer.test.tsx
Due: components

fix: update excerpt and switch type in Hyper-V NAT configuration guide
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: correct formatting for msinfo32.exe reference in DSC v3 documentation
  content/blog/what-is-dscv3.md
Due: none

fix: remove markdownlint disable comments for code examples
  content/blog/syntax-highlighting-test.md
Due: none

fix: clarify language regarding DSC v3 and legacy PSDSC compatibility in tutorial
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: update test cases for improved accuracy and clarity
  app/[locale]/blog/__tests__/loading.test.tsx
  app/api/analytics/blog-read/__tests__/route.test.ts
  components/__tests__/BlogPostMarkdownContent.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/Footer.test.tsx
  components/__tests__/LanguageSwitcher.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
  components/__tests__/ScrollToTop.test.tsx
Due: components, app

fix: update observer target in CodeBlockEnhancer and correct aria-describedby in CookieConsentBanner
  components/CodeBlockEnhancer.tsx
  components/CookieConsentBanner.tsx
  components/CopyButton.tsx
Due: components

fix: add additional code examples for various programming languages
  content/blog/syntax-highlighting-test.md
Due: none

fix: simplify JSX structure in LoadingSpinner mock and improve type safety in Footer tests
  app/[locale]/blog/__tests__/loading.test.tsx
  app/api/analytics/blog-read/__tests__/route.test.ts
  components/__tests__/Footer.test.tsx
Due: components, app

fix: ensure newline at end of file in CopyButton component
  components/CopyButton.tsx
Due: components

fix: correct formatting of IP address table in NAT configuration guide
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: update assertions in CookieConsentBanner tests and improve timer handling in MermaidRenderer tests
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
Due: components

fix: adjust focus-visible outline for CopyButton component
  components/CopyButton.tsx
Due: components

fix: remove redundant class properties in ErrorPage and ImageModal components
  components/ErrorPage.tsx
  components/ImageModal.tsx
Due: components

fix: handle invalid JSON in blog-read analytics route and improve selector querying in ReadingProgress component
  app/api/analytics/blog-read/__tests__/route.test.ts
  app/api/analytics/blog-read/route.ts
  components/ReadingProgress.tsx
Due: components, app

fix: update key prop for social link elements to ensure uniqueness
  app/[locale]/team/[memberId]/TeamMemberClient.tsx
Due: app

fix: clarify description for duplicate C# example section to ensure unique anchors
  content/blog/syntax-highlighting-test.md
Due: none

fix: enhance recommendation for VS Code extensions to improve development experience
  CONTRIBUTING.md
Due: none

fix: simplify markdownlint rules for better clarity and consistency
  .github/prompts/create-blog-post.prompt.md
Due: none

fix: change mock restoration to clearing in TeamMemberClient tests for better isolation
  app/[locale]/team/[memberId]/__tests__/TeamMemberClient.test.tsx
Due: app

fix: update default formatter for markdown and improve comments for clarity
  .devcontainer/devcontainer.json
  .vscode/settings.json
  app/api/analytics/blog-read/route.ts
  components/CodeBlockEnhancer.tsx
  components/ImageEnhancer.tsx
  components/LanguageSwitcher.tsx
Due: components, app

fix: remove redundant name properties from social links for improved clarity
  components/Footer.tsx
Due: components

fix: update Link component class for consistent styling
  components/NotFoundPage.tsx
Due: components

fix: improve article element assertions in BlogPostGrid tests for better reliability
  components/__tests__/BlogPostGrid.test.tsx
  components/__tests__/LanguageSwitcher.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
Due: components

fix: add aria-pressed attribute to ThemeToggle buttons for better accessibility
  components/ThemeToggle.tsx
Due: components

fix: update internal switch creation command for accuracy and clarity
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: add frontMatter and gitignore settings to markdownlint configuration
  .markdownlint-cli2.jsonc
Due: none

fix: remove frontMatter regex from markdownlint configuration
  .markdownlint-cli2.jsonc
Due: none

fix: prevent file truncation by using a temporary output file when input and output are the same
  .github/skills/extract-coderabbit-ai-review-comments/scripts/extract_prompt_blocks.sh
Due: none

feat: implement buildLocalizedAlternates utility for generating localized URLs
  app/[locale]/cookies/page.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/team/[memberId]/page.tsx
  app/[locale]/terms/page.tsx
  components/CodeBlockEnhancer.tsx
  components/CookieConsentBanner.tsx
  lib/metadata-utils.ts
Due: components, app, lib

test: update NotFoundPage test import path and improve BlogPostGrid test assertions
  app/[locale]/team/[memberId]/__tests__/not-found-page.test.tsx
  components/__tests__/BlogPostGrid.test.tsx
  components/__tests__/BlogPostMarkdownContent.test.tsx
  components/__tests__/CookieCategoryToggle.test.tsx
  lib/__tests__/metadata-utils.test.ts
Due: components, app, lib

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
