Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

refactor: update import paths to use absolute paths for better readability
  app/layout.tsx
  components/CookieConsentBanner.tsx
  components/CookieSettings.tsx
  components/LanguageSwitcher.tsx
  components/ThemeToggle.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/CookieSettings.test.tsx
  components/__tests__/ThemeToggle.test.tsx
  package-lock.json
Due: components, app

feat: add prompts for creating blog posts, components, and tests
  .github/prompts/create-blog-post.prompt.md
  .github/prompts/create-component.prompt.md
  .github/prompts/create-test.prompt.md
Due: none

feat: add .editorconfig for consistent coding styles
  .editorconfig
Due: none

feat: add comprehensive instructions for blog content, components, tests, translations, and utilities
  .github/copilot-instructions.md
  .github/instructions/blog-content.instructions.md
  .github/instructions/components.instructions.md
  .github/instructions/tests.instructions.md
  .github/instructions/translations.instructions.md
  .github/instructions/utilities.instructions.md
Due: none

chore: update dependencies and devDependencies in package.json
  components/__tests__/CookieConsentBanner.test.tsx
  content/blog/install-ipfire-on-a-hypervm-guest.md
  package-lock.json
  package.json
Due: components

chore: update next and eslint-config-next to version 15.5.11
  package-lock.json
  package.json
Due: none

chore: update lucide-react, @types/node, globals, and jsdom to latest versions
  package-lock.json
  package.json
Due: none

feat: update styling guidelines to prioritize Tailwind classes and clarify inline style exceptions
  .github/copilot-instructions.md
  .github/prompts/create-blog-post.prompt.md
Due: none

chore: add @swc/helpers as a dependency in package-lock.json
  package-lock.json
Due: none

Fix minor packages upgrade jan 2026 (#183)
  .editorconfig
  .github/copilot-instructions.md
  .github/instructions/blog-content.instructions.md
  .github/instructions/components.instructions.md
  .github/instructions/tests.instructions.md
  .github/instructions/translations.instructions.md
  .github/instructions/utilities.instructions.md
  .github/prompts/create-blog-post.prompt.md
  .github/prompts/create-component.prompt.md
  .github/prompts/create-test.prompt.md
  .github/workflows/build-check.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/quality-checks.yml
  app/layout.tsx
  components/CookieConsentBanner.tsx
  components/CookieSettings.tsx
  components/LanguageSwitcher.tsx
  components/ThemeToggle.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/CookieSettings.test.tsx
  components/__tests__/ThemeToggle.test.tsx
  content/blog/install-ipfire-on-a-hypervm-guest.md
  package-lock.json
  package.json
Due: components, app

chore: update dependencies and add middleware for internationalization
  app/[locale]/team/[memberId]/page.tsx
  components/CookieConsentBanner.tsx
  components/LanguageSwitcher.tsx
  eslint.config.mjs
  lib/analytics.ts
  lib/theme-context.tsx
  next-env.d.ts
  next.config.ts
  package-lock.json
  package.json
  proxy.ts
  tsconfig.json
Due: components, app, lib

chore: update dependencies and vitest configuration
  next-env.d.ts
  package-lock.json
  package.json
  vitest.config.ts
Due: none

chore: update CookieConsentBanner to streamline consent handling and add next-env.d.ts import statement
  .prettierignore
  components/CookieConsentBanner.tsx
  next-env.d.ts
Due: components

chore(deps): update @opennextjs/cloudflare, framer-motion, and motion-dom to latest versions
  package-lock.json
Due: none

chore: update dependencies and add middleware for internationalization (#190)
  .prettierignore
  app/[locale]/team/[memberId]/TeamMemberClient.tsx
  app/[locale]/team/[memberId]/page.tsx
  components/CookieConsentBanner.tsx
  components/LanguageSwitcher.tsx
  eslint.config.mjs
  lib/__tests__/team.test.ts
  lib/analytics.ts
  lib/team.ts
  lib/theme-context.tsx
  next-env.d.ts
  next.config.ts
  package-lock.json
  package.json
  proxy.ts
  tsconfig.json
  vitest.config.ts
Due: components, app, lib

feat: add middleware for internationalization support
  middleware.ts
  next-env.d.ts
Due: none

feat: add middleware for internationalization support (#191)
  middleware.ts
  next-env.d.ts
Due: none

feat: refactor blog content handling to separate files and update metadata structure
  .gitignore
  app/api/blog/[slug]/route.ts
  lib/blog-data.json.d.ts
  lib/blog.ts
  scripts/__tests__/build-blog-data-integration.test.js
  scripts/build-blog-data.js
Due: app, lib

feat: implement slug validation to prevent path traversal attacks
  app/api/blog/[slug]/route.ts
Due: app

refactor: move content property to BlogPost interface for clarity
  lib/blog.ts
Due: lib

fix: improve content loading to handle missing content gracefully
  app/api/blog/[slug]/route.ts
Due: app

feat: refactor blog content handling to reduce bundle (#192)
  .gitignore
  app/api/blog/[slug]/route.ts
  lib/blog-data.json.d.ts
  lib/blog.ts
  scripts/__tests__/build-blog-data-integration.test.js
  scripts/build-blog-data.js
Due: app, lib

Add CPU limits to wrangler configuration to prevent excessive resource usage
  cloudflare-env.d.ts
  wrangler.jsonc
Due: none

Implement feature X to enhance user experience and fix bug Y in module Z
  cloudflare-env.d.ts
Due: none

chore: add cloudflare-env.d.ts to .gitignore
  .gitignore
Due: none

fix: update postCreateCommand to include cf-typegen for type generation
  .devcontainer/devcontainer.json
Due: none

fix: update eslint config to ignore bundled files and wrangler directory
  eslint.config.mjs
Due: none

Exclude heavy packages from server bundle to optimize bundle size (#193)
  .cspell.jsonc
  .devcontainer/devcontainer.json
  .gitignore
  .prettierignore
  cloudflare-env.d.ts
  eslint.config.mjs
  next.config.ts
  wrangler.jsonc
Due: none

fix: update postCreateCommand and prepreview script to streamline type generation process
  .devcontainer/devcontainer.json
  package.json
  scripts/prebuild.js
Due: none

fix: deploy error (#195)
  .devcontainer/devcontainer.json
  package.json
  scripts/prebuild.js
Due: none

fix: comment out CPU limits in wrangler configuration to optimize settings
  wrangler.jsonc
Due: none

fix: comment out CPU limits in wrangler configuration (#196)
  wrangler.jsonc
Due: none

feat: add bundle size analysis workflow and script
  .github/workflows/bundle-size.yml
  package.json
  scripts/analyze-bundle.js
Due: none

fix: improve bundle size analysis script formatting and output
  .github/workflows/bundle-size.yml
  scripts/analyze-bundle.js
Due: none

fix: enhance bundle size reporting for forked PRs
  .github/workflows/bundle-size.yml
Due: none

fix: simplify error handling in runBuild function
  scripts/analyze-bundle.js
Due: none

fix: update bundle analysis artifact path and add warning for missing files
  .github/workflows/bundle-size.yml
Due: none

fix: add missing step to generate Cloudflare types in quality checks workflow
  .github/workflows/quality-checks.yml
Due: none

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
