Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

Remove brand profile references
  app/[locale]/brand-showcase/page.tsx
  components/Footer.tsx
  components/__tests__/AccessibilityShowcase.test.tsx
  components/__tests__/AnimationsShowcase.test.tsx
  components/__tests__/BrandShowcase.test.tsx
  components/__tests__/ColorShowcase.test.tsx
  components/__tests__/ComponentsShowcase.test.tsx
  components/__tests__/IconsShowcase.test.tsx
  components/__tests__/TypographyShowcase.test.tsx
  components/brand.ts
  components/brandprofile/AccessibilityShowcase.tsx
  components/brandprofile/AnimationsShowcase.tsx
  components/brandprofile/BrandShowcase.tsx
  components/brandprofile/ColorShowcase.tsx
  components/brandprofile/ComponentDemo.tsx
  components/brandprofile/ComponentsShowcase.tsx
  components/brandprofile/IconsShowcase.tsx
  components/brandprofile/TypographyShowcase.tsx
  components/brandprofile/__tests__/ColorShowcase.test.tsx
  components/brandprofile/index.ts
  lib/__tests__/colors.test.ts
  lib/colors.ts
  messages/en.json
  messages/sv.json
Due: components, app, lib

Refactor: update Open Source project details and statistics in English and Swedish translations
  components/OpenSource.tsx
  messages/en.json
  messages/sv.json
Due: components

Refactor: update open source menu item position and ensure Swedish translation consistency
  components/Header.tsx
  messages/sv.json
Due: components

Refactor: reorganize imports in Hero component and update Swedish translations for consistency
  components/Hero.tsx
  components/__tests__/Hero.test.tsx
  messages/en.json
  messages/sv.json
Due: components

Fix: update community link in Footer component to point to the correct URL
  components/Footer.tsx
Due: components

Fix: update resource link handling in Footer component to correctly display external link icon
  components/Footer.tsx
Due: components

Update privacy policy with accurate data collection information
  app/[locale]/privacy/page.tsx
  app/[locale]/terms/page.tsx
  lib/page-translations.ts
  messages/en.json
  messages/privacy.en.json
  messages/privacy.sv.json
  messages/sv.json
  messages/terms.en.json
  messages/terms.sv.json
  scripts/build-page-dates.js
Due: app, lib

Fix: improve code readability by formatting multiline statements in Footer and page-translations components
  components/Footer.tsx
  lib/page-translations.ts
Due: components, lib

Fix: remove placeholder FAQ link from Footer component
  components/Footer.tsx
Due: components

Fix: remove unused social media links and commented-out team member data in team.ts
  lib/team.ts
Due: lib

Fix: correct spelling of "Intellectual Property" in terms.en.json
  messages/terms.en.json
Due: none

Fix: update team member tests to reflect current data and structure
  lib/__tests__/team.test.ts
Due: lib

Fix: refactor build-page-dates script to use async/await for improved performance and readability
  scripts/build-page-dates.js
Due: none

Fix: enhance blog content file retrieval in build-page-dates script to include all markdown files
  scripts/build-page-dates.js
Due: none

Fix: simplify resource link rendering in Footer component for improved clarity
  components/Footer.tsx
Due: components

Fix: add error handling to privacy and terms translation hooks for improved user feedback
  app/[locale]/privacy/page.tsx
  app/[locale]/terms/page.tsx
  lib/page-translations.ts
Due: app, lib

Fix: remove unnecessary whitespace in build-page-dates script for cleaner code
  scripts/build-page-dates.js
Due: none

Refactor: consolidate privacy and terms translation hooks into a generic function for improved reusability and maintainability
  lib/page-translations.ts
Due: lib

Fix: update contact email in CODE_OF_CONDUCT and Footer component for consistency
  CODE_OF_CONDUCT.md
  components/Footer.tsx
Due: components

Test: add unit tests for privacy and terms translation hooks to ensure correct loading and fallback behavior
  lib/__tests__/page-translations.test.ts
Due: lib

Fix: add external link indicator to footer links for better user experience
  components/Footer.tsx
Due: components

Refactor: remove unused keyframe animations from globals.css for cleaner code
  app/globals.css
Due: app

Refactor: remove unused custom animations from globals.css for cleaner code
  app/globals.css
Due: app

Test: add AlertIcon and getAlertIcon tests for improved coverage and validation
  components/__tests__/AlertIcon.test.tsx
  components/__tests__/BlogIcons.test.tsx
Due: components

Refactor: remove AlertTitle and Notification components along with their tests for codebase cleanup
  components/AlertTitle.tsx
  components/Notification.tsx
  components/__tests__/Notification.test.tsx
Due: components

feat: add beginner's guide for creating a class-based DSC v3 resource
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

feat: add guide for automating SQL Server Power BI RS with DSC v3
  content/blog/automating-sql-server-power-bi-rs-with-dsc-v3.md
Due: none

feat: add introductory article on Desired State Configuration v3
  content/blog/what-is-dscv3.md
Due: none

feat: add table styling for markdown content in blog
  app/globals.css
Due: app

Refactor: enhance loading state management in translation hooks
  lib/__tests__/page-translations.test.ts
  lib/page-translations.ts
Due: lib

Test: enhance getAlertIcon function to handle case insensitive input
  components/__tests__/BlogIcons.test.tsx
Due: components

Test: enhance AlertIcon tests for improved attribute validation and path data checks
  components/__tests__/BlogIcons.test.tsx
Due: components

Test: enhance getAlertIcon tests for improved component rendering and case insensitivity
  components/__tests__/BlogIcons.test.tsx
Due: components

Test: enhance getAlertIcon tests for case insensitive input handling and cleanup
  components/__tests__/BlogIcons.test.tsx
Due: components

Test: add validation tests for filePrefix in page translations
  lib/__tests__/page-translations.test.ts
  lib/page-translations.ts
Due: lib

fix: correct example folder path and remove redundant line in DSC v3 guide
  content/blog/what-is-dscv3.md
Due: none

fix: add missing imageAlt and category fields in DSC v3 blog post metadata
  content/blog/what-is-dscv3.md
Due: none

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
