Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

fix: clarify Markdown blockquote instructions and improve URL wrapping guidelines
  .github/instructions/blog-content.instructions.md
Due: none

fix: rename cleanup function for clarity and consistency
  .github/skills/extract-coderabbit-ai-review-comments/scripts/extract_prompt_blocks.sh
Due: none

fix: improve accessibility attributes and enhance test assertions across components
  app/[locale]/__tests__/page.test.tsx
  app/api/analytics/blog-read/__tests__/route.test.ts
  app/api/analytics/blog-read/route.ts
  components/BlogPostContent.tsx
  components/LanguageSwitcher.tsx
  components/TableOfContents.tsx
  components/__tests__/BlogPostMarkdownContent.test.tsx
  components/__tests__/CookieSettings.test.tsx
  components/__tests__/LanguageSwitcher.test.tsx
  content/blog/blockquotes-examples.md
Due: components, app

fix: improve sub-pixel alignment of language label for better visual centering
  app/code-block-components.css
Due: app

fix: remove redundant dark mode title overrides and streamline mermaid diagram styles
  app/blog-content.css
Due: app

fix: update NotFoundPage mock to use <main> and improve accessibility in tests
  app/[locale]/__tests__/not-found.test.tsx
  app/[locale]/team/[memberId]/__tests__/not-found-page.test.tsx
  components/__tests__/LanguageSwitcher.test.tsx
  components/__tests__/Team.test.tsx
Due: components, app

fix: rename ReadingProgressProps to ComponentProps for consistency and clarity fix: enhance getViewProfileAriaLabel function to provide fallback text for better accessibility
  components/ReadingProgress.tsx
  components/Team.tsx
Due: components

feat: add .nvmrc for Node version management and update README with nvm usage instructions
  .nvmrc
  README.md
  package.json
Due: none

fix: add "nvmrc" to cspell dictionary for improved spell checking
  .cspell.jsonc
Due: none

fix: remove unnecessary blank line in README.md
  README.md
Due: none

fix: update base image in Dockerfile to ubuntu-24.04 for improved compatibility
  .devcontainer/Dockerfile
Due: none

feat: add instructions for Node version synchronization across the repository
  .github/instructions/node-version.instructions.md
Due: none

fix: update description in SKILL.md to correct formatting of prompt section
  .github/skills/extract-coderabbit-ai-review-comments/SKILL.md
Due: none

fix: clarify planning requirements for subsystem modifications in SKILL.md
  .github/skills/review-comments-validator/SKILL.md
Due: none

fix: clarify comments on IP hashing and data retention in route.ts
  app/api/analytics/blog-read/route.ts
Due: app

fix: streamline test cases and improve accessibility attributes in various test files
  app/api/analytics/blog-read/__tests__/route.test.ts
  components/__tests__/AlertIconInjector.test.tsx
  components/__tests__/BlogIcons.test.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/OpenSource.test.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/Team.test.tsx
  lib/__tests__/use-section-navigation.test.ts
Due: components, app, lib

fix: improve error handling and processing logic in AlertIconInjector and MermaidRenderer components
  components/AlertIconInjector.tsx
  components/BlogIcons.tsx
  components/CopyButton.tsx
  components/MermaidRenderer.tsx
  lib/use-section-navigation.ts
Due: components, lib

fix: use file descriptor comparison for input and output file check in extract_prompt_blocks.sh
  .github/skills/extract-coderabbit-ai-review-comments/scripts/extract_prompt_blocks.sh
Due: none

fix: correct typo in instructions for adding experimental features in automating Power BI blog
  content/blog/automating-power-bi-rs-with-dsc-v3.md
Due: none

fix: refactor Footer component to use section navigation for smooth scrolling
  components/Footer.tsx
  components/__tests__/Footer.test.tsx
Due: components

fix: update node version instructions and improve test cases for better clarity and functionality
  .github/instructions/node-version.instructions.md
  app/__tests__/not-found.test.tsx
  components/BlogPostMarkdownContent.tsx
  components/CodeBlockEnhancer.tsx
  components/CopyButton.tsx
  components/MermaidRenderer.tsx
  components/__tests__/LegalPageLayout.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
  content/blog/configure-nat-azure-vm-hyperv-host.md
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: components, app

fix: update styles for alert icons and adjust LanguageSwitcher and Team components for improved functionality and accessibility
  app/blog-content.css
  components/LanguageSwitcher.tsx
  components/MermaidRenderer.tsx
  components/Team.tsx
Due: components, app

fix: update test cases for BlogPostGrid, LanguageSwitcher, MermaidRenderer, ReadingProgress, and Team components to improve accessibility and functionality
  components/__tests__/BlogPostGrid.test.tsx
  components/__tests__/LanguageSwitcher.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/Team.test.tsx
Due: components

fix: update blockquote instructions for clarity on alert markers
  .github/instructions/blog-content.instructions.md
Due: none

fix: clarify import instructions to specify project-internal imports
  .github/instructions/components.instructions.md
Due: none

fix: correct syntax in applyTo pattern for node version instructions
  .github/instructions/node-version.instructions.md
Due: none

fix: clarify markdownlint instructions for handling long links in blog post prompts
  .github/prompts/create-blog-post.prompt.md
Due: none

fix: enhance handling of quoted code blocks in extract_prompt_blocks script
  .github/skills/extract-coderabbit-ai-review-comments/scripts/extract_prompt_blocks.sh
Due: none

fix: improve clarity in UAC prompt instructions for WinGet deployment
  content/blog/automating-power-bi-rs-with-dsc-v3.md
Due: none

fix: standardize section numbering and update IP addresses in Hyper-V NAT configuration guide
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: enhance explanation of cross-platform support in DSC v3 resources
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

fix: add view profile button text to English and Swedish translations
  messages/en.json
  messages/sv.json
Due: none

fix: correct casing for markdownlint extension in devcontainer configuration
  .devcontainer/devcontainer.json
Due: none

fix: update callout examples and clarify repository-specific conventions in blog content instructions
  .github/instructions/blog-content.instructions.md
Due: none

fix: clarify requirements for validating findings that impact other subsystems
  .github/skills/review-comments-validator/SKILL.md
Due: none

fix: clarify instructions for updating Node version across the repository
  .github/instructions/node-version.instructions.md
Due: none

fix: adjust max-height for language blocks to improve scroll behavior
  app/code-block-components.css
Due: app

fix: enhance test queries for better accessibility and reliability
  app/__tests__/not-found.test.tsx
  components/__tests__/LoadingSpinner.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/TableOfContents.test.tsx
Due: components, app

fix: enhance accessibility and focus management in CookieConsentBanner and LanguageSwitcher components; update aria-label in TableOfContents
  components/CookieConsentBanner.tsx
  components/LanguageSwitcher.tsx
  components/MermaidRenderer.tsx
  components/TableOfContents.tsx
Due: components

fix: remove redundant test for noopener noreferrer attributes in links with target="_blank"
  components/__tests__/BlogPostMarkdownContent.test.tsx
Due: components

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
