Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

Improve test cleanup and mocking in analyze-bundle tests
  scripts/__tests__/analyze-bundle.test.mjs
  scripts/analyze-bundle.js
Due: none

Add sharp dependency for unit tests in CI workflow
  .github/workflows/quality-checks.yml
Due: none

Refactor test files to use vi.clearAllMocks() and improve test isolation
  app/[locale]/__tests__/layout.test.tsx
  app/[locale]/team/[memberId]/__tests__/loading-page.test.tsx
  app/__tests__/layout.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/Hero.test.tsx
  components/__tests__/LoadingScreen.test.tsx
  components/__tests__/TableOfContents.test.tsx
  lib/__tests__/cookie-consent.test.ts
  lib/__tests__/structured-data.test.ts
  scripts/__tests__/analyze-bundle.test.mjs
  scripts/__tests__/build-blog-data.test.mjs
  scripts/__tests__/generate-og-images.test.mjs
  scripts/analyze-bundle.js
  scripts/generate-og-images.js
Due: components, app, lib

Add error handling and tests for cookie data export edge cases
  components/CookieSettings.tsx
  components/__tests__/CookieSettings.test.tsx
Due: components

Improve bundle analyzer parsing and add logo validation
  scripts/analyze-bundle.js
  scripts/generate-og-images.js
Due: none

Add comprehensive unit tests and improve test utilities
  .github/workflows/quality-checks.yml
  app/[locale]/__tests__/layout.test.tsx
  app/__tests__/layout.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/Hero.test.tsx
  lib/__tests__/cookie-consent.test.ts
  lib/__tests__/structured-data.test.ts
  scripts/__tests__/analyze-bundle.test.mjs
  scripts/__tests__/build-blog-data.test.mjs
  scripts/__tests__/generate-og-images.test.mjs
  scripts/analyze-bundle.js
  scripts/build-blog-data.js
  scripts/generate-og-images.js
Due: components, app, lib

test: replace fireEvent with userEvent for better user interaction simulation
  components/CookieSettings.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/CookieSettings.test.tsx
  components/__tests__/Hero.test.tsx
  scripts/__tests__/analyze-bundle.test.mjs
  scripts/__tests__/generate-og-images.test.mjs
  scripts/analyze-bundle.js
  scripts/generate-og-images.js
Due: components

refactor: improve error handling and add unit test coverage
  app/__tests__/layout.test.tsx
  components/CookieSettings.tsx
  components/Hero.tsx
  components/__tests__/CookieSettings.test.tsx
  components/__tests__/Hero.test.tsx
  messages/en.json
  messages/sv.json
  scripts/generate-og-images.js
Due: components, app

test: improve test mocks and accessibility in unit tests
  app/[locale]/__tests__/layout.test.tsx
  app/__tests__/layout.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/Hero.test.tsx
Due: components, app

test: add missing unit tests and improve test reliability
  components/__tests__/CookieSettings.test.tsx
  lib/__tests__/cookie-consent.test.ts
  scripts/__tests__/analyze-bundle.test.mjs
  scripts/__tests__/generate-og-images.test.mjs
Due: components, lib

refactor: improve cookie consent timestamp validation and fix test parameter passing
  app/__tests__/layout.test.tsx
  components/__tests__/CookieSettings.test.tsx
  lib/__tests__/cookie-consent.test.ts
  lib/cookie-consent.ts
  scripts/__tests__/analyze-bundle.test.mjs
  scripts/analyze-bundle.js
Due: components, app, lib

Add aria-hidden to decorative icons and improve focus trap test
  components/CookieSettings.tsx
  components/__tests__/CookieConsentBanner.test.tsx
Due: components

refactor: extract default analyze result to reduce code duplication and fix import order
  scripts/__tests__/generate-og-images.test.mjs
  scripts/analyze-bundle.js
Due: none

Add unit test infrastructure and improve testability
  app/[locale]/__tests__/layout.test.tsx
  components/CookieSettings.tsx
  scripts/__tests__/analyze-bundle.test.mjs
  scripts/__tests__/generate-og-images.test.mjs
  scripts/analyze-bundle.js
  scripts/build-blog-data.js
Due: components, app

Remove unnecessary sharp dependency installation from CI workflow
  .github/workflows/quality-checks.yml
Due: none

test: replace user.tab() with fireEvent.keyDown for focus trap testing
  components/__tests__/CookieConsentBanner.test.tsx
Due: components

test: improve test coverage and reliability
  components/__tests__/CookieSettings.test.tsx
  lib/__tests__/structured-data.test.ts
  scripts/__tests__/analyze-bundle.test.mjs
  scripts/analyze-bundle.js
  scripts/build-blog-data.js
Due: components, lib

Clean up prompt formatting and add review comments template
  .github/prompts/review-comments.prompt.md
  .github/prompts/update-packages.prompt.md
  .prettierignore
Due: none

Improve number parsing in wrangler output and add comprehensive unit tests
  scripts/__tests__/analyze-bundle.test.mjs
  scripts/analyze-bundle.js
Due: none

Add review-comments-validator skill for systematic code review validation
  .github/skills/review-comments-validator/SKILL.md
  .prettierignore
Due: none

Add OpenAI agent configuration for review comments validator
  .github/skills/review-comments-validator/agents/openai.yaml
Due: none

Improve validation instructions for review comments prompt
  .github/prompts/review-comments.prompt.md
Due: none

test: improve bundle analysis test coverage and cleanup
  scripts/__tests__/analyze-bundle.test.mjs
Due: none

Fix test cleanup and console output mocking in analyze-bundle tests
  scripts/__tests__/analyze-bundle.test.mjs
Due: none

fix(prompts): update agent and description fields for various prompt files
  .github/prompts/create-blog-post.prompt.md
  .github/prompts/create-component.prompt.md
  .github/prompts/create-test.prompt.md
  .github/prompts/generate-test-docs.prompt.md
  .github/prompts/review-comments.prompt.md
  .github/prompts/update-packages.prompt.md
  .github/skills/review-comments-validator/SKILL.md
  .github/skills/review-comments-validator/agents/openai.yaml
Due: none

feat(update-packages): add skill and agent for analyzing npm dependencies and recommending LTS-safe upgrades
  .github/skills/update-packages/SKILL.md
  .github/skills/update-packages/agents/openai.yaml
Due: none

feat(prompts): add 'Add Override' and 'Sync Codex Skills' prompts; update 'Update Packages' prompt for overrides evaluation
  .github/prompts/add-override.prompt.md
  .github/prompts/update-packages.prompt.md
  .github/skills/add-override/SKILL.md
  .github/skills/add-override/agents/openai.yaml
  .github/skills/sync-codex-skills/SKILL.md
  .github/skills/sync-codex-skills/agents/openai.yaml
  .github/skills/update-packages/SKILL.md
Due: none

fix(prompts): add instructions to run npm commands after applying package overrides
  .github/prompts/add-override.prompt.md
  .github/skills/add-override/SKILL.md
Due: none

fix(prompts): clarify instructions for adding package overrides and update sync target path for Codex skills
  .github/prompts/add-override.prompt.md
  .github/prompts/update-packages.prompt.md
  .github/skills/add-override/SKILL.md
  .github/skills/sync-codex-skills/SKILL.md
Due: none

fix(skills): update sync process for Codex skills and enhance package override instructions
  .github/prompts/update-packages.prompt.md
  .github/skills/add-override/SKILL.md
  .github/skills/sync-codex-skills/SKILL.md
Due: none

fix(dependencies): update package versions for improved stability and security
  package-lock.json
  package.json
Due: none

fix(prompts): enhance instructions for adding package overrides and clarify validation steps
  .github/prompts/add-override.prompt.md
Due: none

fix(overrides): update vulnerability descriptions for fast-xml-parser in package.json
  .github/prompts/update-packages.prompt.md
  package.json
Due: none

fix(prompts): reorder steps for clarity in add override instructions
  .github/prompts/add-override.prompt.md
Due: none

fix(prompts): enhance post-change verification steps in add override instructions
  .github/prompts/add-override.prompt.md
Due: none

Fix AI instructions (#232)
  .github/prompts/add-override.prompt.md
  .github/prompts/create-blog-post.prompt.md
  .github/prompts/create-component.prompt.md
  .github/prompts/create-test.prompt.md
  .github/prompts/generate-test-docs.prompt.md
  .github/prompts/review-comments.prompt.md
  .github/prompts/update-packages.prompt.md
  .github/skills/add-override/SKILL.md
  .github/skills/add-override/agents/openai.yaml
  .github/skills/review-comments-validator/SKILL.md
  .github/skills/review-comments-validator/agents/openai.yaml
  .github/skills/sync-codex-skills/SKILL.md
  .github/skills/sync-codex-skills/agents/openai.yaml
  .github/skills/update-packages/SKILL.md
  .github/skills/update-packages/agents/openai.yaml
  package-lock.json
  package.json
Due: none

fix: enhance mobile layout and prevent horizontal scrolling on homepage
  components/About.tsx
  components/Hero.tsx
  tests/integration/homepage.spec.ts
Due: components

fix: improve mobile table behavior and styling for better usability
  app/blog-content.css
  components/BlogPostContent.tsx
  tests/integration/blog-post.spec.ts
Due: components, app

fix: enhance mobile layout and prevent horizontal scrolling for blog and homepage
  app/blog-content.css
  components/Hero.tsx
  tests/integration/blog-post.md
  tests/integration/homepage.md
Due: components, app
