Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# Bundle analysis configuration
bundle_analysis:
  # Warning threshold for bundle size increases
  warning_threshold: '5%'
  # Status type: "informational" (default), True (fail on threshold), False (disable)
  status: 'informational'

# PR comment configuration
comment:
  # Always post comment even if bundle has not changed, set to true to only post comment if bundle changes.
  # Set to 'bundle_increase' if you want to post comments only when there are bundle size increases greater than the threshold.
  require_bundle_changes: false
  # Minimum bundle change threshold to trigger comment
  #bundle_change_threshold: '500b'
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

docs: Update cookie categories description in CONTRIBUTING.md for clarity
  CONTRIBUTING.md
Due: none

docs: Clean up formatting in getDefaultLanguage function documentation
  lib/language-preferences.ts
Due: lib

refactor: Remove project structure verification steps from workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

feat: Implement cookie utility functions and refactor cookie management in language preferences
  lib/__tests__/cookie-consent.test.ts
  lib/__tests__/cookie-utils.test.ts
  lib/__tests__/language-preferences.test.ts
  lib/cookie-consent.ts
  lib/cookie-utils.ts
  lib/language-preferences.ts
Due: lib

feat: Add ConfirmationModal component and integrate it into CookieSettings for reset confirmation
  components/ConfirmationModal.tsx
  components/CookieSettings.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/CookieSettings.test.tsx
  messages/en.json
  messages/sv.json
Due: components

refactor: format files
  lib/__tests__/cookie-utils.test.ts
  lib/__tests__/language-preferences.test.ts
  lib/cookie-utils.ts
Due: lib

refactor: spell check fix
  lib/__tests__/cookie-utils.test.ts
Due: lib

refactor: streamline cookie-consent mocks in tests
  components/__tests__/CookieSettings.test.tsx
Due: components

feat: implement consent cache invalidation for analytics in cookie management
  lib/__tests__/analytics.test.ts
  lib/analytics.ts
  lib/cookie-consent.ts
Due: lib

fix: extend consent cache duration from 5 seconds to 30 seconds for improved performance
  lib/analytics.ts
Due: lib

feat: implement consent event system for managing consent changes and emitting events
  lib/__tests__/consent-events.test.ts
  lib/__tests__/cookie-consent.test.ts
  lib/analytics.ts
  lib/consent-events.ts
  lib/cookie-consent.ts
Due: lib

fix: improve error handling and resource cleanup in data export functionality
  components/CookieSettings.tsx
Due: components

feat: enhance accessibility features in CookieConsentBanner with ARIA attributes and focus management
  components/CookieConsentBanner.tsx
  components/__tests__/CookieConsentBanner.test.tsx
Due: components

feat: refactor CookiesPage to use CookieSettingsWrapper and enhance translation loading
  app/[locale]/cookies/page.tsx
  components/CookieSettingsWrapper.tsx
  i18n.ts
Due: components, app

feat: update ConfirmationModal icons and improve reset consent text in English and Swedish translations
  components/ConfirmationModal.tsx
  messages/en.json
  messages/sv.json
Due: components

feat: optimize useBlogAnalytics to update data reference only on changes and stabilize trackEvent dependencies
  lib/analytics.ts
Due: lib

test: update ConfirmationModal tests to use closest for button variant style checks
  components/__tests__/ConfirmationModal.test.tsx
Due: components

feat: enhance cookie data export functionality with robust error handling
  components/CookieSettings.tsx
  content/blog/todo.md
Due: components

feat: implement cookie caching mechanism to improve performance and manage cache invalidation on modifications
  lib/cookie-consent.ts
Due: lib

feat: add support for custom confirmation icons in ConfirmationModal
  components/ConfirmationModal.tsx
  components/CookieSettings.tsx
  components/__tests__/ConfirmationModal.test.tsx
Due: components

feat: update CookieConsentBanner to use semantic HTML elements for better accessibility
  components/CookieConsentBanner.tsx
Due: components

chore: remove outdated TODO file and associated notes
  content/blog/todo.md
Due: none

feat: enhance message loading with error handling for page-specific imports
  i18n.ts
Due: none

feat: update Swedish translations for cookie and privacy policies for consistency
  messages/cookies.sv.json
  messages/privacy.sv.json
  messages/sv.json
Due: none

feat: update Swedish translations for cookie policy and consent messages for consistency
  messages/sv.json
Due: none

feat: add deep equality check for blog analytics data updates
  lib/analytics.ts
Due: lib

feat: implement cleanup function for download resources to prevent memory leaks
  components/CookieSettings.tsx
Due: components

feat: enhance cookie management with cache clearing and rename consent cookie
  lib/__tests__/cookie-consent.test.ts
  lib/cookie-consent.ts
Due: lib

feat: optimize focus management in CookieConsentBanner with memoized element caching
  components/CookieConsentBanner.tsx
Due: components

feat: Implement cookie consent management and analytics tracking (#109)
  .github/workflows/copilot-setup-steps.yml
  CONTRIBUTING.md
  README.md
  app/[locale]/cookies/page.tsx
  app/[locale]/layout.tsx
  components/ConfirmationModal.tsx
  components/CookieConsentBanner.tsx
  components/CookieSettings.tsx
  components/CookieSettingsWrapper.tsx
  components/Footer.tsx
  components/LanguageSwitcher.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/CookieSettings.test.tsx
  i18n.ts
  lib/__tests__/analytics.test.ts
  lib/__tests__/consent-events.test.ts
  lib/__tests__/cookie-consent.test.ts
  lib/__tests__/cookie-utils.test.ts
  lib/__tests__/language-preferences.test.ts
  lib/analytics.ts
  lib/consent-events.ts
  lib/cookie-consent.ts
  lib/cookie-utils.ts
  lib/file-dates.ts
  lib/language-preferences.ts
  lib/page-dates.json.d.ts
  lib/page-translations.ts
  lib/theme-context.tsx
  messages/cookies.en.json
  messages/cookies.sv.json
  messages/en.json
  messages/privacy.en.json
  messages/privacy.sv.json
  messages/sv.json
  package-lock.json
  scripts/build-page-dates.js
Due: components, app, lib

chore(deps): bump @opennextjs/cloudflare and wrangler (#110)
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

feat: update privacy policy to clarify Google Fonts usage and enhance security headers
  .cspell.jsonc
  messages/privacy.en.json
  messages/privacy.sv.json
  next.config.js
Due: none

feat: update privacy policy to clarify Google Fonts usage (#114)
  .cspell.jsonc
  messages/privacy.en.json
  messages/privacy.sv.json
  next.config.js
Due: none

chore(deps): bump wrangler from 4.24.4 to ^4.26.0 (#112)
  package-lock.json
  package.json
Due: none

chore: disable initial quality checks to ensure builds run without linting errors
  .github/workflows/copilot-setup-steps.yml
Due: none

chore: disable initial quality checks in copilot setup (#115)
  .github/workflows/copilot-setup-steps.yml
Due: none

feat: add guide in-place upgrade Azure VMs
  content/blog/in-place-upgrade-azure-vm.md
  public/real-time-protection-setting-win2019.png
  public/virus-and-threat-protection-settings-win2019.png
  public/win2019-setup-select-image.png
  public/windows-defender-firewall-network-settings-win2019.png
Due: none

feat: add image enhancement and modal functionality for blog content
  app/[locale]/blog/[slug]/page.tsx
  app/globals.css
  components/ImageEnhancer.tsx
  components/ImageModal.tsx
  components/__tests__/ImageEnhancer.test.tsx
  components/__tests__/ImageModal.test.tsx
Due: components, app

feat: update images and descriptions for Windows Server upgrade guide
  content/blog/in-place-upgrade-azure-vm.md
Due: none

feat: update images and paths in in-place upgrade Azure VM guide
  content/blog/in-place-upgrade-azure-vm.md
  public/blog-images/real-time-protection-setting-win2019.png
  public/blog-images/virus-and-threat-protection-settings-win2019.png
  public/blog-images/win2019-setup-select-image.png
  public/blog-images/windows-defender-firewall-network-settings-win2019.png
Due: none
