Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

refactor: update zsh plugins and add OpenAI ChatGPT extension
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: none

refactor: remove unnecessary !important flags and streamline CSS properties
  app/blog-content.css
  app/code-block-components.css
  lib/consent-events.ts
  lib/cookie-utils.ts
  lib/slug-utils.ts
  scripts/analyze-bundle.js
  scripts/generate-og-images.js
  scripts/plugins/remark-image-paths.js
  scripts/prebuild.js
Due: app, lib

refactor: add strict linting script for improved code quality checks
  package.json
  scripts/biome-lint-strict.js
Due: none

refactor: add type attributes to buttons for improved accessibility
  components/AlertIconInjector.tsx
  components/BlogPostGrid.tsx
  components/ErrorPage.tsx
  components/ThemeToggle.tsx
  lib/slug-utils.ts
Due: components, lib

refactor: update Header and LanguageSwitcher components for improved semantics and accessibility
  components/Header.tsx
  components/LanguageSwitcher.tsx
  scripts/biome-lint-strict.js
Due: components

refactor: enhance JSON parsing in parseBiomeJson function for better error handling
  scripts/biome-lint-strict.js
Due: none

refactor: reorganize imports and improve code structure across components
  app/[locale]/layout.tsx
  app/layout.tsx
  components/AlertIconInjector.tsx
  components/BlogPostContent.tsx
  components/CookieConsentBanner.tsx
  components/Hero.tsx
  components/LanguageSwitcher.tsx
  components/LegalSection.tsx
  components/SocialIcons.tsx
  components/TableOfContents.tsx
  components/Team.tsx
  package.json
Due: components, app

refactor: update CookieConsentBanner tests to ensure body layout styles remain unchanged
  components/__tests__/CookieConsentBanner.test.tsx
Due: components

refactor: reorganize imports across multiple components for improved clarity and structure
  app/[locale]/page.tsx
  app/api/analytics/blog-read/route.ts
  components/About.tsx
  components/CodeBlockEnhancer.tsx
  components/CookieCategoryIcon.tsx
  components/CookieSettings.tsx
  components/CopyButton.tsx
  components/ErrorPage.tsx
  components/Footer.tsx
  components/LegalPageLayout.tsx
  components/LoadingScreen.tsx
  components/NotFoundPage.tsx
  components/OpenSource.tsx
  components/ThemeToggle.tsx
  lib/__tests__/theme-context.test.tsx
  lib/__tests__/use-section-navigation.test.ts
  lib/structured-data.ts
  lib/team.ts
  scripts/__tests__/build-page-dates.test.mjs
  scripts/__tests__/generate-og-images.test.mjs
Due: components, app, lib

refactor: reorganize imports across multiple files for improved clarity and structure
  app/[locale]/cookies/page.tsx
  app/[locale]/privacy/PrivacyPageClient.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/team/TeamPageClient.tsx
  app/[locale]/team/[memberId]/page.tsx
  app/[locale]/team/page.tsx
  app/[locale]/terms/TermsPageClient.tsx
  app/[locale]/terms/page.tsx
  tests/integration/blog-listing.spec.ts
  tests/integration/blog-post.spec.ts
  tests/integration/cookie-consent.spec.ts
  tests/integration/cross-origin-warning.spec.ts
  tests/integration/global-setup.ts
  tests/integration/homepage.spec.ts
  tests/integration/page-metadata.spec.ts
Due: app

refactor: enhance validation instructions in review-comments prompt and SKILL documentation for clarity and completeness
  .github/prompts/review-comments.prompt.md
  .github/skills/review-comments-validator/SKILL.md
Due: none

refactor: reorder import statements in language-preferences for consistency
  lib/language-preferences.ts
Due: lib

refactor: update linting scripts for improved consistency and functionality
  package.json
Due: none

refactor: update mock for next/image to enhance ImageProps interface with optional properties
  vitest.setup.ts
Due: none

refactor: reorder attributes for improved readability and consistency in test files
  app/[locale]/__tests__/error.test.tsx
  app/[locale]/blog/[slug]/__tests__/loading.test.tsx
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  app/[locale]/blog/__tests__/loading.test.tsx
  app/[locale]/team/[memberId]/__tests__/TeamMemberClient.test.tsx
  app/[locale]/team/[memberId]/__tests__/loading-page.test.tsx
  components/__tests__/BlogIcons.test.tsx
  components/__tests__/BlogPostGrid.test.tsx
  components/__tests__/CodeBlockEnhancer.test.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/CookieCategoryToggle.test.tsx
  components/__tests__/Footer.test.tsx
  components/__tests__/Header.test.tsx
  components/__tests__/ImageEnhancer.integration.test.tsx
  components/__tests__/ImageEnhancer.test.tsx
  components/__tests__/LegalSection.test.tsx
  components/__tests__/LoadingScreen.test.tsx
  components/__tests__/LoadingSpinner.test.tsx
  components/__tests__/TableOfContents.test.tsx
  components/__tests__/Team.test.tsx
Due: components, app

chore: update devDependencies in package.json
  package-lock.json
  package.json
Due: none

fix: enable trimming of trailing whitespace for markdown files
  .editorconfig
Due: none

fix: update error message for missing sharp package installation instructions
  scripts/generate-og-images.js
Due: none

feat: add initial biome configuration file
  biome.json
Due: none

fix: update formatting section to reflect Biome linting and formatting rules
  .github/copilot-instructions.md
Due: none

fix: update compatibility instructions for Biome version alignment
  .github/instructions/package-updates.instructions.md
Due: none

fix: improve error message for missing sharp package installation instructions
  scripts/generate-og-images.js
Due: none

feat: add tests for biome-lint-strict and refactor main function for improved modularity
  .cspell.jsonc
  scripts/__tests__/biome-lint-strict.test.mjs
  scripts/biome-lint-strict.js
Due: none

fix: enhance review comments validation process with detailed planning and verification steps
  .github/skills/review-comments-validator/SKILL.md
Due: none

fix: update excerpt guidelines for SEO clarity in blog post instructions
  .github/instructions/blog-content.instructions.md
  .github/prompts/create-blog-post.prompt.md
  content/blog/hyperv-time-machine-setup.md
Due: none

feat: enhance TableOfContents component with keyboard navigation and scroll indicators
  components/TableOfContents.tsx
Due: components

fix: update hash anchor in homepage tests for correct section navigation
  tests/integration/homepage.md
Due: none

fix: update SKILL.md to include type checking in validation process and checklists
  .github/skills/review-comments-validator/SKILL.md
Due: none

fix: correct command syntax for retrieving active NAT sessions in documentation
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: await addHeadingIds for proper content processing in BlogPostPage
  app/[locale]/blog/[slug]/page.tsx
Due: app

fix: update verification checklist for clarity and integration testing
  .github/skills/review-comments-validator/SKILL.md
Due: none

fix: refactor addHeadingIds to use async translation function for accessibility labels
  lib/__tests__/slug-utils.test.ts
  lib/slug-utils.ts
Due: lib

fix: update CookiesPage to use async translations and formatting for improved localization
  app/[locale]/cookies/__tests__/page.test.tsx
  app/[locale]/cookies/page.tsx
Due: app

fix: add minimum height and width to CookieCategoryToggle for consistent sizing
  components/CookieCategoryToggle.tsx
Due: components

fix: update scrollContainerRef type to HTMLElement for better flexibility
  components/TableOfContents.tsx
Due: components

fix: update CookiesPage tests to use async rendering for improved reliability
  app/[locale]/cookies/__tests__/page.test.tsx
Due: app

fix: update import organization to follow Biome standards
  .github/copilot-instructions.md
Due: none
