Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

refactor(ReadingProgress): simplify props and improve performance; add tests for ReadingProgress and ScrollToTop components
  components/BlogPostContent.tsx
  components/ReadingProgress.tsx
  components/ScrollToTop.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/ScrollToTop.test.tsx
  messages/en.json
  messages/sv.json
Due: components

fix(ReadingProgress): improve scroll progress calculation to handle edge cases
  components/ReadingProgress.tsx
Due: components

fix(ReadingProgress, ScrollToTop): enhance accessibility by adding ARIA attributes and improve test setup for scrollY
  components/BlogPostContent.tsx
  components/ReadingProgress.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/ScrollToTop.test.tsx
Due: components

fix(ReadingProgress): enhance lazy loading of DOM refs for improved scroll performance
  components/ReadingProgress.tsx
Due: components

fix(BlogPostContent, styles): improve scroll performance by adjusting overflow properties and ensuring proper word wrapping
  app/blog-content.css
  app/globals.css
  components/BlogPostContent.tsx
Due: components, app

fix: update gradient utilities to linear for consistency across components
  CONTRIBUTING.md
  app/[locale]/team/[memberId]/TeamMemberClient.tsx
  app/globals.css
  components/About.tsx
  components/BlogPostContent.tsx
  components/CookieConsentBanner.tsx
  components/Hero.tsx
  components/LanguageSwitcher.tsx
  components/OpenSource.tsx
  components/ReadingProgress.tsx
  components/TableOfContents.tsx
  components/Team.tsx
  components/__tests__/ScrollToTop.test.tsx
Due: components, app

fix(ReadingProgress): improve accessibility by adding ARIA label and enhance scroll performance by adjusting CSS properties
  app/blog-content.css
  app/globals.css
  components/ReadingProgress.tsx
  components/__tests__/ReadingProgress.test.tsx
  messages/en.json
  messages/sv.json
Due: components, app

fix(blog-content, globals): enhance scroll performance by adjusting overflow properties
  app/blog-content.css
  app/globals.css
Due: app

perf(scroll): RAF throttle, cached DOM refs, fix overlap (ME-04/22) (#226)
  CONTRIBUTING.md
  app/[locale]/team/[memberId]/TeamMemberClient.tsx
  app/blog-content.css
  app/globals.css
  components/About.tsx
  components/BlogPostContent.tsx
  components/CookieConsentBanner.tsx
  components/Hero.tsx
  components/LanguageSwitcher.tsx
  components/OpenSource.tsx
  components/ReadingProgress.tsx
  components/ScrollToTop.tsx
  components/TableOfContents.tsx
  components/Team.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/ScrollToTop.test.tsx
  messages/en.json
  messages/sv.json
Due: components, app

fix(accessibility): enhance ARIA attributes for navigation and language switcher components
  components/CodeBlockEnhancer.tsx
  components/Hero.tsx
  components/LanguageSwitcher.tsx
  components/__tests__/Header.test.tsx
  components/__tests__/Hero.test.tsx
  components/__tests__/LanguageSwitcher.test.tsx
  components/__tests__/OpenSource.test.tsx
  lib/__tests__/use-section-navigation.test.ts
  lib/use-section-navigation.ts
Due: components, lib

fix(codespaces): resolve GIT_COMMITTER identity issue for verified SSH commits
  .devcontainer/devcontainer.json
  .devcontainer/fix-codespaces-signing.sh
Due: none

fix(devcontainer): add GitHub CLI authentication check in postStartCommand
  .devcontainer/check-gh-auth.sh
  .devcontainer/devcontainer.json
Due: none

Update .devcontainer/fix-codespaces-signing.sh
  .devcontainer/fix-codespaces-signing.sh
Due: none

fix(a11y): extract shared navigation hook and improve ARIA attributes (ME-02/03) (#227)
  .devcontainer/check-gh-auth.sh
  .devcontainer/devcontainer.json
  .devcontainer/fix-codespaces-signing.sh
  components/CodeBlockEnhancer.tsx
  components/Header.tsx
  components/Hero.tsx
  components/LanguageSwitcher.tsx
  components/OpenSource.tsx
  components/__tests__/Header.test.tsx
  components/__tests__/Hero.test.tsx
  components/__tests__/LanguageSwitcher.test.tsx
  components/__tests__/OpenSource.test.tsx
  lib/__tests__/use-section-navigation.test.ts
  lib/use-section-navigation.ts
  messages/en.json
  messages/sv.json
Due: components, lib

Potential fix for pull request finding 'Unused variable, import, function or class'
  components/__tests__/CookieCategoryIcon.test.tsx
Due: components

refactor: streamline GitHub CLI authentication check and enhance first-run notice
  .devcontainer/check-gh-auth.sh
  .devcontainer/devcontainer.json
  .devcontainer/fix-codespaces-signing.sh
  .devcontainer/modify-first-run-notice.sh
Due: none

refactor: update remote environment configuration to ensure SSH-signed commits are verified on GitHub
  .devcontainer/devcontainer.json
Due: none

refactor: remove GitHub CLI authentication check and related first-run notice modifications
  .devcontainer/check-gh-auth.sh
  .devcontainer/devcontainer.json
  .devcontainer/modify-first-run-notice.sh
Due: none

refactor: enhance cookie UI components and improve accessibility features
  components/CookieCategoryIcon.tsx
  components/CookieCategoryToggle.tsx
  components/CookieConsentBanner.tsx
  components/__tests__/CookieCategoryIcon.test.tsx
  components/__tests__/CookieCategoryToggle.test.tsx
  lib/__tests__/cookie-ui-utils.test.ts
Due: components, lib

refactor: update aria-label for cookie details and enhance localization support
  components/CookieConsentBanner.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  messages/en.json
  messages/sv.json
Due: components

refactor: update README to enhance feature descriptions and project structure
  README.md
Due: none

refactor: remove GITHUB_TOKEN unset command for improved security in Codespaces
  CONTRIBUTING.md
Due: none

refactor: improve clarity in CONTRIBUTING.md and README.md formatting
  CONTRIBUTING.md
  README.md
Due: none

refactor: format aria-label for improved readability and maintainability
  components/CookieConsentBanner.tsx
Due: components

refactor: add "lightbox" to custom dictionary for improved spell checking
  .cspell.jsonc
Due: none

refactor(cookies): extract shared components and utilities (ME-01/26) (#228)
  .cspell.jsonc
  .devcontainer/check-gh-auth.sh
  .devcontainer/devcontainer.json
  .devcontainer/fix-codespaces-signing.sh
  CONTRIBUTING.md
  README.md
  components/CookieCategoryIcon.tsx
  components/CookieCategoryToggle.tsx
  components/CookieConsentBanner.tsx
  components/CookieSettings.tsx
  components/__tests__/CookieCategoryIcon.test.tsx
  components/__tests__/CookieCategoryToggle.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  lib/__tests__/cookie-ui-utils.test.ts
  lib/cookie-ui-utils.ts
  messages/en.json
  messages/sv.json
Due: components, lib

Add comprehensive test suite for AlertIconInjector component
  components/__tests__/AlertIconInjector.test.tsx
Due: components

Add unit tests for CookieSettingsWrapper component
  components/__tests__/CookieSettingsWrapper.test.tsx
Due: components

fix more tests
  app/[locale]/__tests__/layout.test.tsx
  app/[locale]/__tests__/loading.test.tsx
  app/[locale]/blog/[slug]/__tests__/not-found.test.tsx
  app/[locale]/blog/__tests__/loading.test.tsx
  app/[locale]/team/[memberId]/__tests__/loading-page.test.tsx
  app/[locale]/team/[memberId]/__tests__/not-found-page.test.tsx
  app/__tests__/layout.test.tsx
  app/__tests__/metadata.test.ts
  app/api/analytics/blog-read/__tests__/route.test.ts
  components/__tests__/CookieCategoryIcon.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/CookieSettings.test.tsx
  components/__tests__/CookieSettingsWrapper.test.tsx
  components/__tests__/CopyButton.test.tsx
  components/__tests__/Footer.test.tsx
  components/__tests__/Hero.test.tsx
  components/__tests__/LoadingScreen.test.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/TableOfContents.test.tsx
  lib/__tests__/cookie-consent.test.ts
  lib/__tests__/file-dates.test.ts
  lib/__tests__/language-preferences.test.ts
  lib/__tests__/structured-data.test.ts
Due: components, app, lib

Fix unit tests
  app/[locale]/__tests__/layout.test.tsx
  app/[locale]/__tests__/loading.test.tsx
  app/[locale]/blog/__tests__/loading.test.tsx
  app/[locale]/team/[memberId]/__tests__/loading-page.test.tsx
  app/__tests__/layout.test.tsx
  app/api/analytics/blog-read/__tests__/route.test.ts
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/CookieSettingsWrapper.test.tsx
  components/__tests__/TableOfContents.test.tsx
  lib/__tests__/cookie-consent.test.ts
  lib/__tests__/language-preferences.test.ts
  lib/__tests__/structured-data.test.ts
  scripts/__tests__/build-blog-data.test.mjs
  scripts/__tests__/build-page-dates.test.mjs
  scripts/__tests__/remark-image-paths.test.mjs
Due: components, app, lib

fix vitest config
  vitest.config.ts
Due: none

Update AWS SDK and dependencies to latest versions
  package-lock.json
  package.json
Due: none

Add unit test coverage configuration and guidelines
  .github/instructions/scripts.instructions.md
  .github/instructions/tests.instructions.md
  test-utils/mocks/loading-spinner.tsx
  vitest.config.ts
Due: none

Expand test file pattern matching to include spec files and additional JS extensions
  .github/instructions/tests.instructions.md
Due: none

Refactor unit tests to use actual module imports instead of reimplemented logic
  app/[locale]/__tests__/layout.test.tsx
  app/[locale]/__tests__/loading.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/Footer.test.tsx
  components/__tests__/Hero.test.tsx
  scripts/__tests__/analyze-bundle.test.mjs
  scripts/__tests__/generate-og-images.test.mjs
  scripts/analyze-bundle.js
  scripts/generate-og-images.js
Due: components, app

Update security override comment for fast-xml-parser with CVE details
  package.json
Due: none

Fix markdown formatting in scripts instructions
  .github/instructions/scripts.instructions.md
Due: none

Add proper cleanup and test isolation to unit tests
  app/[locale]/__tests__/layout.test.tsx
  app/[locale]/blog/[slug]/__tests__/not-found.test.tsx
  app/[locale]/team/[memberId]/__tests__/loading-page.test.tsx
  app/[locale]/team/[memberId]/__tests__/not-found-page.test.tsx
  app/__tests__/layout.test.tsx
  app/api/analytics/blog-read/__tests__/route.test.ts
  components/__tests__/AlertIconInjector.test.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/CookieSettingsWrapper.test.tsx
  components/__tests__/CopyButton.test.tsx
  components/__tests__/Footer.test.tsx
  components/__tests__/Hero.test.tsx
  components/__tests__/LoadingScreen.test.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/TableOfContents.test.tsx
  lib/__tests__/cookie-consent.test.ts
  lib/__tests__/file-dates.test.ts
  lib/__tests__/language-preferences.test.ts
  scripts/__tests__/build-blog-data.test.mjs
  scripts/__tests__/build-page-dates.test.mjs
  scripts/__tests__/generate-og-images.test.mjs
  scripts/__tests__/remark-image-paths.test.mjs
  scripts/__tests__/test-helpers.mjs
Due: components, app, lib

Update logo path to viscalyx_logo_128x128.png in structured data
  lib/__tests__/structured-data.test.ts
  lib/structured-data.ts
Due: lib

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
