Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

feat: enhance components with internationalization support and cleanup
  components/CodeBlockEnhancer.tsx
  components/ConfirmationModal.tsx
  components/CopyButton.tsx
  components/LoadingScreen.tsx
  components/ScrollToTop.tsx
  components/__tests__/CodeBlockEnhancer.test.tsx
  components/__tests__/TableOfContents.test.tsx
  components/__tests__/ThemeToggle.test.tsx
  messages/en.json
  messages/sv.json
Due: components

feat: update CodeBlockEnhancer and ConfirmationModal for improved cleanup and accessibility
  components/CodeBlockEnhancer.tsx
  components/ConfirmationModal.tsx
Due: components

feat: add loading and not found pages for blog and team sections (#220)
  app/[locale]/blog/[slug]/not-found.tsx
  app/[locale]/blog/loading.tsx
  app/[locale]/loading.tsx
  app/[locale]/team/[memberId]/loading.tsx
  app/[locale]/team/[memberId]/not-found.tsx
  components/CodeBlockEnhancer.tsx
  components/ConfirmationModal.tsx
  components/CopyButton.tsx
  components/LoadingScreen.tsx
  components/LoadingSpinner.tsx
  components/ScrollToTop.tsx
  components/TableOfContents.tsx
  components/ThemeToggle.tsx
  components/__tests__/CodeBlockEnhancer.test.tsx
  components/__tests__/ConfirmationModal.test.tsx
  components/__tests__/CopyButton.test.tsx
  components/__tests__/LoadingSpinner.test.tsx
  components/__tests__/TableOfContents.test.tsx
  components/__tests__/Team.test.tsx
  components/__tests__/ThemeToggle.test.tsx
  lib/page-translations.ts
  messages/en.json
  messages/sv.json
Due: components, app, lib

fix: replace exec with execFile to prevent shell injection (ME-10)
  scripts/build-page-dates.js
Due: none

refactor(css): extract blog-specific styles into blog-content.css (ME-17)
  app/[locale]/blog/[slug]/page.tsx
  app/blog-content.css
  app/globals.css
Due: app

fix(slug-utils): deterministic IDs, class merging, deduplicate tests (ME-15/20/25)
  components/__tests__/AnchorLinks.test.ts
  lib/__tests__/slug-utils.test.ts
  lib/slug-utils.ts
Due: components, lib

fix(analytics): origin validation, IP hashing, rate limiting, division guard (ME-11/12/13)
  app/api/analytics/blog-read/route.ts
  lib/analytics.ts
Due: app, lib

feat(seo): add hreflang, JSON-LD structured data, fix sitemap consistency (ME-06/07/16)
  app/[locale]/blog/[slug]/page.tsx
  app/[locale]/blog/page.tsx
  app/[locale]/layout.tsx
  app/__tests__/sitemap.test.ts
  app/metadata.ts
  app/sitemap.ts
  lib/structured-data.ts
  package-lock.json
  package.json
Due: app, lib

perf(scroll): RAF throttle, cached DOM refs, fix overlap (ME-04/22)
  components/ReadingProgress.tsx
  components/ScrollToTop.tsx
Due: components

fix: replace exec with execFile to prevent shell injection (ME-10) (#221)
  scripts/build-page-dates.js
Due: none

fix(a11y): extract shared navigation hook and improve ARIA attributes
  components/Header.tsx
  components/Hero.tsx
  components/LanguageSwitcher.tsx
  components/OpenSource.tsx
  components/__tests__/Header.test.tsx
  components/__tests__/LanguageSwitcher.test.tsx
  lib/__tests__/use-section-navigation.test.ts
  lib/use-section-navigation.ts
  messages/en.json
  messages/sv.json
Due: components, lib

fix(css): correct color variables and improve accessibility for blog content
  app/blog-content.css
Due: app

refactor(css): extract blog-specific styles into blog-content.css (ME-17) (#222)
  app/[locale]/blog/[slug]/page.tsx
  app/blog-content.css
  app/globals.css
Due: app

refactor(cookies): extract shared components and utilities (ME-01/26)
  components/CookieCategoryIcon.tsx
  components/CookieCategoryToggle.tsx
  components/CookieConsentBanner.tsx
  components/CookieSettings.tsx
  components/__tests__/CookieCategoryIcon.test.tsx
  components/__tests__/CookieCategoryToggle.test.tsx
  lib/__tests__/cookie-ui-utils.test.ts
  lib/cookie-ui-utils.ts
Due: components, lib

fix(slug-utils): add type annotation for existing class in addHeadingIds function
  lib/slug-utils.ts
Due: lib

fix(slug-utils): format code for better readability in addHeadingIds function
  lib/slug-utils.ts
Due: lib

fix(CodeBlockEnhancer): streamline cleanup process in useEffect for better performance
  components/CodeBlockEnhancer.tsx
Due: components

fix(slug-utils): deterministic IDs, class merging, deduplicate tests (ME-15/20/25) (#223)
  components/CodeBlockEnhancer.tsx
  components/__tests__/AnchorLinks.test.ts
  lib/__tests__/slug-utils.test.ts
  lib/slug-utils.ts
Due: components, lib

fix(analytics): simplify response formatting for error handling in POST requests
  app/api/analytics/blog-read/route.ts
Due: app

fix(analytics): enhance IP hashing and rate limiting logic for GDPR compliance
  app/api/analytics/blog-read/route.ts
Due: app

fix(analytics): update Cloudflare dashboard navigation for rate limiting setup
  app/api/analytics/blog-read/route.ts
Due: app

fix(analytics): implement rate limit cap and improve HMAC key caching for performance
  app/api/analytics/blog-read/route.ts
Due: app

fix(analytics): update Cloudflare WAF rate limiting setup instructions in comments
  app/api/analytics/blog-read/route.ts
Due: app

fix(analytics): update rate limiting implementation to use Cloudflare WAF rules
  app/api/analytics/blog-read/route.ts
Due: app

fix(analytics): update compatibility date and add custom domain routing configuration
  wrangler.jsonc
Due: none

rename from viscalyx.se to viscalyx.org
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  lib/__tests__/cookie-consent.test.ts
  lib/constants.ts
  lib/cookie-consent.ts
  public/robots.txt
  tests/integration/cookie-consent.md
  tests/integration/cookie-consent.spec.ts
Due: app, lib

fix comments
  .devcontainer/devcontainer.json
  app/api/analytics/blog-read/route.ts
  wrangler.jsonc
Due: app

fix(analytics): origin validation, IP hashing, rate limiting, division guard (ME-11/12/13) (#224)
  .devcontainer/devcontainer.json
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  app/api/analytics/blog-read/route.ts
  lib/__tests__/cookie-consent.test.ts
  lib/analytics.ts
  lib/constants.ts
  lib/cookie-consent.ts
  public/robots.txt
  tests/integration/cookie-consent.md
  tests/integration/cookie-consent.spec.ts
  wrangler.jsonc
Due: app, lib

feat(seo): add hreflang, JSON-LD structured data, fix sitemap consistency (ME-06/07/16) (#225)
  app/[locale]/blog/[slug]/page.tsx
  app/[locale]/blog/page.tsx
  app/[locale]/layout.tsx
  app/__tests__/sitemap.test.ts
  app/metadata.ts
  app/sitemap.ts
  lib/structured-data.ts
  package-lock.json
  package.json
Due: app, lib

Potential fix for pull request finding 'Useless comparison test'
  components/ReadingProgress.tsx
Due: components

refactor(ReadingProgress): simplify props and improve performance; add tests for ReadingProgress and ScrollToTop components
  components/BlogPostContent.tsx
  components/ReadingProgress.tsx
  components/ScrollToTop.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/ScrollToTop.test.tsx
  messages/en.json
  messages/sv.json
Due: components

fix(ReadingProgress): improve scroll progress calculation to handle edge cases
  components/ReadingProgress.tsx
Due: components

fix(ReadingProgress): enhance lazy loading of DOM refs for improved scroll performance
  components/ReadingProgress.tsx
Due: components

fix(ReadingProgress, ScrollToTop): enhance accessibility by adding ARIA attributes and improve test setup for scrollY
  components/BlogPostContent.tsx
  components/ReadingProgress.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/ScrollToTop.test.tsx
Due: components

fix(BlogPostContent, styles): improve scroll performance by adjusting overflow properties and ensuring proper word wrapping
  app/blog-content.css
  app/globals.css
  components/BlogPostContent.tsx
Due: components, app
