Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

feat: add recharts library and mock ResizeObserver for testing
  components/__tests__/RechartsComparison.test.tsx
  components/brandprofile/AnalysisShowcase.tsx
  components/brandprofile/RechartsComparison.tsx
  package-lock.json
  package.json
  vitest.setup.ts
Due: components

feat: update color palette and enhance color utility for better accessibility
  app/globals.css
  components/__tests__/ColorShowcase.test.tsx
  lib/__tests__/colors.test.ts
  lib/colors.ts
Due: components, app, lib

feat: enhance color variables for improved theming and data visualization
  app/globals.css
  app/prism-theme.css
  components/CopyButton.tsx
  components/Expertise.tsx
  components/Footer.tsx
  components/Notification.tsx
  components/Testimonials.tsx
  components/__tests__/Notification.test.tsx
Due: components, app

fix: update success message styling for improved visibility and consistency
  components/Contact.tsx
Due: components

fix: update alert component styles for improved consistency and accessibility
  components/brandprofile/ComponentsShowcase.tsx
Due: components

fix: update success message color for improved visibility and consistency
  components/Contact.tsx
Due: components

feat: enhance TypographyShowcase with interactive color selection and improved heading structure for accessibility
  components/__tests__/TypographyShowcase.test.tsx
  components/brandprofile/TypographyShowcase.tsx
Due: components

fix: update success message styling for improved consistency and visibility
  components/Contact.tsx
Due: components

fix: update CheckmarkIcon color for improved consistency
  components/CopyButton.tsx
Due: components

chore: remove outdated brand documentation and usage examples
  docs/brand-assets-readme.md
  docs/brand-style-guide.md
  docs/brand-usage-examples.md
  docs/icons-documentation.md
Due: none

fix: update text color classes for improved consistency and accessibility
  components/__tests__/TypographyShowcase.test.tsx
  components/brandprofile/TypographyShowcase.tsx
Due: components

feat: add text color definitions to BrandTypography for improved consistency
  components/brand.ts
  lib/__tests__/colors.test.ts
Due: components, lib

fix: update success notification icon color for improved consistency
  components/Notification.tsx
Due: components

fix: update typography text colors for improved consistency and dark mode support
  app/globals.css
Due: app

fix: format code for improved readability in TypographyShowcase and ComponentsShowcase
  components/__tests__/TypographyShowcase.test.tsx
  components/brandprofile/ComponentsShowcase.tsx
  components/brandprofile/TypographyShowcase.tsx
Due: components

feat: add background and border color definitions to brandProfile for improved design consistency
  components/brandprofile/ComponentsShowcase.tsx
  messages/en.json
  messages/sv.json
Due: components

fix: update Prism.js theme colors for improved consistency and clarity
  app/prism-theme.css
Due: app

feat: implement getColorHex function for dynamic color retrieval in TypographyShowcase
  components/brandprofile/TypographyShowcase.tsx
Due: components

fix: update Success color values for consistency in color utility tests
  lib/__tests__/colors.test.ts
Due: lib

fix: improve code formatting for better readability in ComponentsShowcase
  components/brandprofile/ComponentsShowcase.tsx
Due: components

fix: correct spelling of "recognized" in cspell configuration
  .cspell.jsonc
Due: none

fix: add missing words "inclusivity", "Segoe", and "Neue" to cspell configuration
  .cspell.jsonc
Due: none

fix: enhance accessibility by adding ARIA attributes and descriptions in TypographyShowcase
  components/brandprofile/TypographyShowcase.tsx
Due: components

fix: optimize color lookup by implementing memoization in TypographyShowcase
  components/brandprofile/TypographyShowcase.tsx
Due: components

fix: add button type attribute and improve accessibility with ARIA labels in TypographyShowcase
  components/brandprofile/TypographyShowcase.tsx
Due: components

fix: add translations for Recharts comparison component in English and Swedish
  components/brandprofile/RechartsComparison.tsx
  messages/en.json
  messages/sv.json
Due: components

fix: add translations for analysis showcase component in English and Swedish
  components/__tests__/AnalysisShowcase.test.tsx
  components/brandprofile/AnalysisShowcase.tsx
  messages/en.json
  messages/sv.json
Due: components

fix: add translations for color contrast testing in English and Swedish
  components/brandprofile/AccessibilityShowcase.tsx
  messages/en.json
  messages/sv.json
Due: components

fix: add translations for RechartsComparison component and enhance color handling in AnalysisShowcase
  components/__tests__/RechartsComparison.test.tsx
  components/brandprofile/AnalysisShowcase.tsx
Due: components

fix: add translations for color contrast testing in AccessibilityShowcase
  components/__tests__/AccessibilityShowcase.test.tsx
Due: components

fix: add color sample utility for accessibility showcase in CSS and update ContrastTest component
  app/globals.css
  components/brandprofile/AccessibilityShowcase.tsx
Due: components, app

refactor: remove accent colors from ColorShowcase and TypographyShowcase components, update related tests and translations
  components/__tests__/ColorShowcase.test.tsx
  components/brandprofile/ColorShowcase.tsx
  components/brandprofile/TypographyShowcase.tsx
  lib/__tests__/colors.test.ts
  lib/colors.ts
  messages/en.json
  messages/sv.json
Due: components, lib

feat: Enhance Color Showcase with additional color categories and combinations
  components/__tests__/ColorShowcase.test.tsx
  components/brandprofile/ColorShowcase.tsx
  lib/colors.ts
  messages/en.json
  messages/sv.json
Due: components, lib

Remove references to case studies across the application, including footer, header, file dates, and localization files. Update build script to exclude case studies page date.
  CONTRIBUTING.md
  app/[locale]/case-studies/[slug]/page.tsx
  app/[locale]/case-studies/page.tsx
  app/[locale]/page.tsx
  app/sitemap.ts
  components/CaseStudies.tsx
  components/Footer.tsx
  components/Header.tsx
  lib/file-dates.ts
  lib/page-dates.json.d.ts
  messages/en.json
  messages/sv.json
  scripts/build-page-dates.js
Due: components, app, lib

Remove Expertise component and related references from the application
  app/[locale]/page.tsx
  app/[locale]/team/[memberId]/page.tsx
  components/Expertise.tsx
  components/Footer.tsx
  components/Services.tsx
  messages/en.json
  messages/sv.json
Due: components, app

Refactor: remove Services component and update related references in the application
  app/[locale]/page.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Hero.tsx
  components/Services.tsx
  components/__tests__/Hero.test.tsx
  components/__tests__/Services.test.tsx
  components/brandprofile/IconsShowcase.tsx
  messages/en.json
  messages/sv.json
Due: components, app

Refactor: remove Testimonials component and update related references in the application
  app/[locale]/page.tsx
  components/Testimonials.tsx
  messages/en.json
  messages/sv.json
Due: components, app

Refactor: remove Contact component and update related references in the application
  app/[locale]/page.tsx
  components/Contact.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Hero.tsx
  components/OpenSource.tsx
  components/Team.tsx
  components/__tests__/Contact.test.tsx
  components/__tests__/OpenSource.test.tsx
  messages/en.json
  messages/sv.json
Due: components, app

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
