Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

chore: update dependencies to latest versions
  package-lock.json
  package.json
Due: none

docs: enhance contribution guidelines for dependency updates
  CONTRIBUTING.md
Due: none

chore(deps): Bump packages (#81)
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: none

chore: update Tailwind CSS to version 4.1.11 and adjust PostCSS
  app/globals.css
  lib/colors.ts
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
Due: app, lib

feat: add support for class-based dark mode toggle in globals.css
  app/globals.css
Due: app

feat: Enhance accessibility features in brand profile components
  .cspell.jsonc
  app/globals.css
  components/__tests__/AccessibilityDocumentation.test.tsx
  components/__tests__/AccessibilityShowcase.test.tsx
  components/__tests__/ColorShowcase.test.tsx
  components/brandprofile/AccessibilityDocumentation.tsx
  components/brandprofile/AccessibilityShowcase.tsx
  components/brandprofile/ColorShowcase.tsx
  components/brandprofile/__tests__/ColorShowcase.test.tsx
  components/brandprofile/index.ts
  lib/__tests__/colors.test.ts
  lib/colors.ts
Due: components, app, lib

refactor: Update color references to use secondary color palette across components
  app/globals.css
  app/prism-theme.css
  components/CopyButton.tsx
  components/Expertise.tsx
  components/Hero.tsx
  components/ReadingProgress.tsx
  components/brandprofile/ColorShowcase.tsx
  components/brandprofile/IconsShowcase.tsx
Due: components, app

feat: Add Data Visualization Showcase component and related tests
  components/__tests__/AnalysisShowcase.test.tsx
  components/__tests__/BrandShowcase.test.tsx
  components/__tests__/ColorShowcase.test.tsx
  components/brandprofile/AnalysisShowcase.tsx
  components/brandprofile/BrandShowcase.tsx
  components/brandprofile/ColorShowcase.tsx
  lib/__tests__/colors.test.ts
  lib/colors.ts
  messages/en.json
  messages/sv.json
Due: components, lib

feat: Enhance Data Visualization Showcase with interactive charts and metrics display
  components/__tests__/AnalysisShowcase.test.tsx
  components/brandprofile/AnalysisShowcase.tsx
  package.json
Due: components

feat: add recharts library and mock ResizeObserver for testing
  components/__tests__/RechartsComparison.test.tsx
  components/brandprofile/AnalysisShowcase.tsx
  components/brandprofile/RechartsComparison.tsx
  package-lock.json
  package.json
  vitest.setup.ts
Due: components

fix: correct import order and update CheckmarkIcon color for consistency
  components/CopyButton.tsx
Due: components

feat: update color palette and enhance color utility for better accessibility
  app/globals.css
  components/__tests__/ColorShowcase.test.tsx
  lib/__tests__/colors.test.ts
  lib/colors.ts
Due: components, app, lib

feat: enhance color variables for improved theming and data visualization
  app/globals.css
  app/prism-theme.css
  components/CopyButton.tsx
  components/Expertise.tsx
  components/Footer.tsx
  components/Notification.tsx
  components/Testimonials.tsx
  components/__tests__/Notification.test.tsx
Due: components, app

fix: update success message styling for improved visibility and consistency
  components/Contact.tsx
Due: components

fix: update success message color for improved visibility and consistency
  components/Contact.tsx
Due: components

fix: update alert component styles for improved consistency and accessibility
  components/brandprofile/ComponentsShowcase.tsx
Due: components

feat: enhance TypographyShowcase with interactive color selection and improved heading structure for accessibility
  components/__tests__/TypographyShowcase.test.tsx
  components/brandprofile/TypographyShowcase.tsx
Due: components

fix: update success message styling for improved consistency and visibility
  components/Contact.tsx
Due: components

fix: update CheckmarkIcon color for improved consistency
  components/CopyButton.tsx
Due: components

chore: remove outdated brand documentation and usage examples
  docs/brand-assets-readme.md
  docs/brand-style-guide.md
  docs/brand-usage-examples.md
  docs/icons-documentation.md
Due: none

fix: update success notification icon color for improved consistency
  components/Notification.tsx
Due: components

fix: update text color classes for improved consistency and accessibility
  components/__tests__/TypographyShowcase.test.tsx
  components/brandprofile/TypographyShowcase.tsx
Due: components

fix: update typography text colors for improved consistency and dark mode support
  app/globals.css
Due: app

feat: add text color definitions to BrandTypography for improved consistency
  components/brand.ts
  lib/__tests__/colors.test.ts
Due: components, lib

fix: format code for improved readability in TypographyShowcase and ComponentsShowcase
  components/__tests__/TypographyShowcase.test.tsx
  components/brandprofile/ComponentsShowcase.tsx
  components/brandprofile/TypographyShowcase.tsx
Due: components

feat: implement getColorHex function for dynamic color retrieval in TypographyShowcase
  components/brandprofile/TypographyShowcase.tsx
Due: components

fix: update Prism.js theme colors for improved consistency and clarity
  app/prism-theme.css
Due: app

feat: add background and border color definitions to brandProfile for improved design consistency
  components/brandprofile/ComponentsShowcase.tsx
  messages/en.json
  messages/sv.json
Due: components

fix: improve code formatting for better readability in ComponentsShowcase
  components/brandprofile/ComponentsShowcase.tsx
Due: components

fix: update Success color values for consistency in color utility tests
  lib/__tests__/colors.test.ts
Due: lib

fix: correct spelling of "recognized" in cspell configuration
  .cspell.jsonc
Due: none

chore: update Tailwind CSS to version 4.1.11 and adjust PostCSS (#83)
  app/globals.css
  lib/colors.ts
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
Due: app, lib

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
