Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# Bundle analysis configuration
bundle_analysis:
  # Warning threshold for bundle size increases
  warning_threshold: '5%'
  # Status type: "informational" (default), True (fail on threshold), False (disable)
  status: 'informational'

# PR comment configuration
comment:
  # Always post comment even if bundle has not changed, set to true to only post comment if bundle changes.
  # Set to 'bundle_increase' if you want to post comments only when there are bundle size increases greater than the threshold.
  require_bundle_changes: false
  # Minimum bundle change threshold to trigger comment
  #bundle_change_threshold: '500b'
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

refactor: use Locale type for locale validation in i18n configuration
  i18n.ts
Due: none

refactor: migrate ESLint configuration to new format and update dependencies
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

refactor: enhance type safety in framer-motion and next/image mocks
  vitest.setup.ts
Due: none

refactor: improve linting scripts for enhanced usability and output
  package.json
Due: none

refactor: update linting scripts for improved command order and output format
  package.json
Due: none

refactor: improve type definitions for mocked components in test file
  components/__tests__/ComponentsShowcase.test.tsx
Due: components

refactor: add accessibility tests for font sizes and heading structure in TypographyShowcase
  components/__tests__/TypographyShowcase.test.tsx
Due: components

refactor: enhance sample text rendering test for TypographyShowcase
  components/__tests__/TypographyShowcase.test.tsx
Due: components

refactor: mock framer-motion in TypographyShowcase tests for improved rendering
  components/__tests__/TypographyShowcase.test.tsx
Due: components

refactor: implement color utilities and tests for ColorShowcase component
  components/brandprofile/ColorShowcase.tsx
  components/brandprofile/__tests__/ColorShowcase.test.tsx
  lib/__tests__/colors.test.ts
  lib/colors.ts
Due: components, lib

refactor: enhance AnimationsShowcase tests with motion prop validation and hover interaction checks
  components/__tests__/AnimationsShowcase.test.tsx
Due: components

refactor: update button elements in ComponentsShowcase for proper type attribute
  components/brandprofile/ComponentsShowcase.tsx
Due: components

refactor: add htmlFor attributes to labels in FormsShowcase for accessibility
  components/brandprofile/ComponentsShowcase.tsx
Due: components

refactor: extract ComponentDemo to a separate file for reusability
  components/brandprofile/AnimationsShowcase.tsx
  components/brandprofile/ComponentDemo.tsx
  components/brandprofile/ComponentsShowcase.tsx
Due: components

refactor: add type attribute to button in BrandShowcase for clarity
  components/brandprofile/BrandShowcase.tsx
Due: components

refactor: add TypeScript interface for CustomAlert component props
  docs/brand-usage-examples.md
Due: none

refactor: add type attribute to buttons in AccessibilityShowcase for clarity
  components/brandprofile/AccessibilityShowcase.tsx
Due: components

refactor: replace anchor with button for focus states link in AccessibilityShowcase
  components/brandprofile/AccessibilityShowcase.tsx
Due: components

fix: correct spacing in favicon description in brand style guide
  docs/brand-style-guide.md
Due: none

refactor: add button text to focus states button in AccessibilityShowcase
  components/brandprofile/AccessibilityShowcase.tsx
Due: components

refactor: update Swedish translations for animations in sv.json
  messages/sv.json
Due: none

refactor: update code examples in brand-assets-readme.md for clarity and consistency
  docs/brand-assets-readme.md
Due: none

refactor: replace button with anchor for focus states link in AccessibilityShowcase
  components/brandprofile/AccessibilityShowcase.tsx
Due: components

refactor: improve type definition for framer-motion mock in IconsShowcase test
  components/__tests__/IconsShowcase.test.tsx
Due: components

refactor: add button type attributes for color value copy buttons in ColorSwatch
  components/brandprofile/ColorShowcase.tsx
Due: components

refactor: add button type attribute to ColorSwatch button for accessibility
  components/brandprofile/ColorShowcase.tsx
Due: components

refactor: enhance accessibility and keyboard interactions in AnimationsShowcase and BrandShowcase components
  components/brandprofile/AnimationsShowcase.tsx
  components/brandprofile/BrandShowcase.tsx
  messages/en.json
  messages/sv.json
Due: components

refactor: update color extraction methods to utilize Tailwind configuration for primary and secondary colors
  lib/__tests__/colors.test.ts
  lib/colors.ts
Due: lib

refactor: use Number.parseInt for hex to RGB conversion in hexToRgb function
  lib/colors.ts
Due: lib

refactor: enhance hover and keyboard interaction tests with explicit null checks for accessibility
  components/__tests__/AnimationsShowcase.test.tsx
Due: components

refactor: improve color extraction logic to handle missing Tailwind theme colors and enhance type safety
  lib/colors.ts
Due: lib

refactor: standardize color showcase labels to lowercase for consistency
  messages/sv.json
Due: none

refactor: replace motion divs with buttons for improved accessibility and interaction
  components/__tests__/AnimationsShowcase.test.tsx
  components/brandprofile/AnimationsShowcase.tsx
Due: components

refactor: update translation keys for components showcase to use brandProfile namespace
  components/brandprofile/ComponentsShowcase.tsx
  messages/en.json
  messages/sv.json
Due: components

refactor: optimize timeout management in ColorSwatch component for better cleanup
  components/brandprofile/ColorShowcase.tsx
Due: components

Add graphical profile, AKA a visual style guide or brand guidelines (#73)
  .eslintrc.json
  CONTRIBUTING.md
  app/[locale]/brand-showcase/page.tsx
  cloudflare-env.d.ts
  components/Footer.tsx
  components/__tests__/AccessibilityShowcase.test.tsx
  components/__tests__/AnimationsShowcase.test.tsx
  components/__tests__/BrandShowcase.test.tsx
  components/__tests__/ColorShowcase.test.tsx
  components/__tests__/ComponentsShowcase.test.tsx
  components/__tests__/IconsShowcase.test.tsx
  components/__tests__/TypographyShowcase.test.tsx
  components/brand.ts
  components/brandprofile/AccessibilityShowcase.tsx
  components/brandprofile/AnimationsShowcase.tsx
  components/brandprofile/BrandShowcase.tsx
  components/brandprofile/ColorShowcase.tsx
  components/brandprofile/ComponentDemo.tsx
  components/brandprofile/ComponentsShowcase.tsx
  components/brandprofile/IconsShowcase.tsx
  components/brandprofile/TypographyShowcase.tsx
  components/brandprofile/__tests__/ColorShowcase.test.tsx
  components/brandprofile/index.ts
  docs/brand-assets-readme.md
  docs/brand-style-guide.md
  docs/brand-usage-examples.md
  docs/icons-documentation.md
  eslint.config.mjs
  i18n.ts
  lib/__tests__/colors.test.ts
  lib/colors.ts
  messages/en.json
  messages/sv.json
  package-lock.json
  package.json
  scripts/__tests__/build-blog-data-sanitization.test.mjs
  scripts/plugins/blockquote-types.js
  scripts/security-audit.js
  vitest.setup.ts
Due: components, app, lib

chore(deps): Bump packages
  package.json
Due: none

fick lock file
  package-lock.json
Due: none

chore(deps): Bump packages (#80)
  package-lock.json
  package.json
Due: none

docs: add guidelines for updating packages in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
