Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

feat: implement Content Security Policy with nonce support and enhance floating image handling
  app/__tests__/layout.test.tsx
  app/__tests__/middleware.test.ts
  app/blog-content.css
  app/layout.tsx
  content/blog/install-ipfire-on-a-hypervm-guest.md
  middleware.ts
  next.config.ts
  scripts/__tests__/remark-floating-images.test.mjs
  scripts/build-blog-data.js
  scripts/plugins/remark-floating-images.js
Due: app

refactor: update nonce handling in middleware to use x-middleware-request-x-nonce
  app/__tests__/middleware.test.ts
  middleware.ts
Due: app

feat: propagate x-nonce as a request-header override in middleware
  app/__tests__/middleware.test.ts
  middleware.ts
Due: app

fix: update import path for locales in middleware
  middleware.ts
Due: none

feat: enhance Content Security Policy by adding object-src and form-action directives
  .github/skills/review-comments-validator/SKILL.md
  app/__tests__/middleware.test.ts
  middleware.ts
Due: app

fix: update nonce generation to use base64 encoding for improved security
  app/__tests__/middleware.test.ts
  middleware.ts
Due: app

Security improvments (#254)
  .github/skills/review-comments-validator/SKILL.md
  app/__tests__/layout.test.tsx
  app/__tests__/middleware.test.ts
  app/api/analytics/blog-read/__tests__/route.test.ts
  app/api/analytics/blog-read/route.ts
  app/blog-content.css
  app/layout.tsx
  content/blog/install-ipfire-on-a-hypervm-guest.md
  content/blog/mermaid-diagrams-comprehensive-guide.md
  lib/blog.ts
  middleware.ts
  next.config.ts
  scripts/__tests__/remark-floating-images.test.mjs
  scripts/build-blog-data.js
  scripts/plugins/remark-floating-images.js
Due: app, lib

add skills
  .github/skills/add-override/SKILL.md
  .github/skills/codebase-to-infograhipcs-prompt/SKILL.md
  .github/skills/codebase-to-infograhipcs-prompt/agents/openai.yaml
  .github/skills/create-architecture-description/SKILL.md
  .github/skills/create-architecture-description/agents/openai.yaml
  .github/skills/create-architecture-description/references/perspectives.md
  .github/skills/grill-with-docs/ADR-FORMAT.md
  .github/skills/grill-with-docs/CONTEXT-FORMAT.md
  .github/skills/grill-with-docs/SKILL.md
  .github/skills/grill-with-docs/agents/openai.yaml
  .github/skills/playwright-explore-website/SKILL.md
  .github/skills/playwright-explore-website/agents/openai.yaml
  .github/skills/playwright-generate-test/SKILL.md
  .github/skills/playwright-generate-test/agents/openai.yaml
  .github/skills/report-dead-code/SKILL.md
  .github/skills/report-dead-code/agents/openai.yaml
  .github/skills/report-dead-code/references/report-template.md
  .github/skills/report-dead-code/scripts/__pycache__/find_dead_code_candidates.cpython-312.pyc
  .github/skills/report-dead-code/scripts/find_dead_code_candidates.py
  .github/skills/review-comments-validator/SKILL.md
  .github/skills/review-comments-validator/agents/openai.yaml
  .github/skills/sync-ai-instructions/SKILL.md
  .github/skills/sync-ai-instructions/agents/openai.yaml
  .github/skills/sync-ai-instructions/scripts/sync_ai_instructions.sh
  .github/skills/sync-ai-skills/SKILL.md
  .github/skills/sync-ai-skills/agents/openai.yaml
  .github/skills/sync-ai-skills/scripts/sync_ai_skills.sh
  .github/skills/update-packages/SKILL.md
  .github/skills/update-packages/agents/openai.yaml
Due: none

fix devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

fix gitignore
  .gitignore
Due: none

update instructions
  .github/instructions/ai-instruction-authoring.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/node-version.instructions.md
  .github/instructions/package-updates.instructions.md
Due: none

remove old prompts
  .github/prompts/add-override.prompt.md
  .github/prompts/update-packages.prompt.md
Due: none

add blog
  content/blog/install-rhel-10-rocky-linux-10-hyper-v.md
  public/abstract-hyper-v-gen2-rocky-linux-10-vm-installation.png
Due: none

fix code
  app/code-block-components.css
  components/ReadingProgress.tsx
  test-utils/mocks/loading-spinner.tsx
Due: components, app

fix packages
  biome.json
  package-lock.json
  vitest.config.ts
Due: none

fix blog
  content/blog/install-rhel-10-rocky-linux-10-hyper-v.md
Due: none

fix: rocky blog post
  content/blog/install-rhel-10-rocky-linux-10-hyper-v.md
Due: none

fix: rocky blog
  content/blog/install-rhel-10-rocky-linux-10-hyper-v.md
Due: none

fix: rocky blog (#271)
  content/blog/install-rhel-10-rocky-linux-10-hyper-v.md
Due: none
