Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

fix: enhance mobile table behavior and layout for improved usability
  app/blog-content.css
  tests/integration/blog-post.md
  tests/integration/homepage.md
Due: app

fix: update environment variable examples for local development configuration
  .env.development
  .env.example
Due: none

fix: update HMAC secret in development environment and enhance table scrollbar styling
  .env.development
  app/blog-content.css
Due: app

fix: enhance table styling for improved responsiveness and scrollbar visibility
  app/blog-content.css
Due: app

fix: enhance responsiveness guidelines and layout instructions for components
  .github/copilot-instructions.md
  .github/instructions/components.instructions.md
  .github/instructions/tests.instructions.md
  .github/prompts/create-component.prompt.md
Due: none

fix: wrap markdown tables in scroll regions for improved mobile responsiveness
  app/blog-content.css
  components/BlogPostContent.tsx
  components/__tests__/BlogPostContent.test.tsx
  lib/blog.ts
  scripts/__tests__/build-blog-data.test.mjs
  scripts/build-blog-data.js
Due: components, app, lib

fix: update table wrapping logic to prevent unnecessary scroll regions for bare tables
  components/BlogPostContent.tsx
  components/__tests__/BlogPostContent.test.tsx
Due: components

fix: update mobile table behavior to use scroll regions for improved overflow detection
  tests/integration/blog-post.spec.ts
Due: none

Fix mobile view (#233)
  .env.development
  .env.example
  .github/copilot-instructions.md
  .github/instructions/components.instructions.md
  .github/instructions/tests.instructions.md
  .github/prompts/create-component.prompt.md
  app/blog-content.css
  components/About.tsx
  components/BlogPostContent.tsx
  components/Hero.tsx
  components/__tests__/BlogPostContent.test.tsx
  lib/blog.ts
  scripts/__tests__/build-blog-data.test.mjs
  scripts/build-blog-data.js
  tests/integration/blog-post.md
  tests/integration/blog-post.spec.ts
  tests/integration/homepage.md
  tests/integration/homepage.spec.ts
Due: components, app, lib

Add Zsh plugins for enhanced shell experience
  .devcontainer/devcontainer.json
Due: none

Add Zsh plugins for enhanced shell experience (#234)
  .devcontainer/devcontainer.json
Due: none

Fix Hero component styling for vertical screens and update tests
  app/globals.css
  components/Hero.tsx
  components/__tests__/Hero.test.tsx
Due: components, app

Fix styling and layout issues for mobile and vertical screens
  app/blog-content.css
  components/About.tsx
  components/Hero.tsx
  lib/blog.ts
  tests/integration/blog-post.spec.ts
  tests/integration/homepage.spec.ts
Due: components, app, lib

Fix Hero component background for dark mode on vertical screens
  components/Hero.tsx
Due: components

Fix front page on vertical screen (#237)
  app/blog-content.css
  app/globals.css
  components/About.tsx
  components/Hero.tsx
  components/__tests__/Hero.test.tsx
  lib/blog.ts
  tests/integration/blog-post.spec.ts
  tests/integration/homepage.spec.ts
Due: components, app, lib

chore: remove Prettier and ESLint configuration files
  .prettierignore
  .prettierrc
  eslint.config.mjs
Due: none

Refactor documentation for clarity and consistency
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .github/workflows/quality-checks.yml
  .vscode/extensions.json
  CONTRIBUTING.md
  LICENSE-ASSETS.md
  README.md
  SECURITY.md
  content/blog/template.md
Due: none

refactor: migrate linting and formatting tools to biome, add markdown linting scripts
  package-lock.json
  package.json
Due: none

refactor: update VSCode settings to use Biome and Markdownlint formatters
  .vscode/settings.json
Due: none

style: fix CSS formatting and selector specificity for blog content alerts
  app/blog-content.css
Due: app

style: standardize quotes in CSS import statement
  app/globals.css
Due: app

refactor: remove eslint disable comments from CookieConsentBanner useEffect
  components/CookieConsentBanner.tsx
Due: components

refactor: remove eslint disable comments from LanguageSwitcher hooks
  components/LanguageSwitcher.tsx
Due: components

refactor: remove eslint disable comment for HTML link in ImageEnhancer test
  components/__tests__/ImageEnhancer.test.tsx
Due: components

refactor: format test cases for LoadingSpinner size and color props
  components/__tests__/LoadingSpinner.test.tsx
Due: components

refactor: standardize single quotes to double quotes in CSS selectors
  app/code-block-components.css
Due: app

refactor: improve formatting and readability in automating Power BI Report Server documentation
  content/blog/automating-power-bi-rs-with-dsc-v3.md
Due: none

refactor: update Markdown guidelines for tables, code blocks, and line wrapping
  .github/instructions/blog-content.instructions.md
  .github/prompts/create-blog-post.prompt.md
Due: none

refactor: improve formatting and readability in blockquotes examples
  content/blog/blockquotes-examples.md
Due: none

refactor: improve formatting and readability in Hyper-V NAT configuration guide
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

refactor: update rules for wrapping inline code in Markdown guidelines
  .github/prompts/create-blog-post.prompt.md
Due: none

refactor: add guideline for wrapping inline code in Markdown instructions
  .github/instructions/blog-content.instructions.md
Due: none

refactor: add guideline for wrapping Markdown comments in instructions
  .github/instructions/blog-content.instructions.md
Due: none

refactor: add guideline for wrapping Markdown comments in blog post instructions
  .github/prompts/create-blog-post.prompt.md
Due: none

refactor: improve formatting and readability in DSC tutorial
  content/blog/demodscclass-your-first-class-based-dsc-v3-resource.md
Due: none

refactor: improve line breaks for better readability in Azure setup instructions
  content/blog/dsc-configuration-repository.md
Due: none

refactor: improve Markdown formatting for code blocks and comments in Hyper-V Time Machine setup
  content/blog/hyperv-time-machine-setup.md
Due: none

refactor: enhance Markdown formatting for improved readability in in-place upgrade guide
  content/blog/in-place-upgrade-azure-vm.md
Due: none

refactor: improve line breaks and formatting for better readability in Infrastructure as Code best practices guide
  content/blog/infrastructure-as-code-best-practices.md
Due: none

refactor: improve Markdown formatting for better readability in IPFire Hyper-V installation guide
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: none

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
