Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

feat: enhance HTML sanitization to allow inline images and dangerous HTML processing
  scripts/build-blog-data.js
Due: none

feat: add guide for installing IPFire on Hyper-V with detailed setup instructions
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: none

feat: update cspell configuration and enhance IPFire installation guide with improved image alt text and read time
  .cspell.jsonc
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: none

chore: downgrade next version from ^15.4.2 to 15.3.5
  package-lock.json
  package.json
Due: none

chore: downgrade next version from ^15.4.2 to 15.3.5 (#105)
  package-lock.json
  package.json
Due: none

feat: add remarkFloatingImages plugin to support styled floating images in blog content
  scripts/build-blog-data.js
  scripts/plugins/remark-floating-images.js
Due: none

fix: correct date in IPFire Hyper-V installation guide and enhance network adapter assignment instructions
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: none

fix: remove unnecessary line break in network configuration instructions for IPFire setup
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: none

fix: clean up formatting in remarkFloatingImages plugin for improved readability
  scripts/plugins/remark-floating-images.js
Due: none

feat: add node-html-parser dependency for improved HTML parsing capabilities
  package-lock.json
  package.json
Due: none

refactor: replace regex-based image attribute extraction with node-html-parser for improved reliability
  scripts/plugins/remark-floating-images.js
Due: none

test: add unit tests for remark-floating-images plugin to verify HTML img tag parsing
  scripts/__tests__/remark-floating-images.test.mjs
Due: none

fix: improve clarity in network configuration instructions for IPFire setup
  content/blog/install-ipfire-on-a-hypervm-guest.md
Due: none

fix: update publication dates in blog post metadata for accuracy
  content/blog/blockquotes-examples.md
  content/blog/infrastructure-as-code-best-practices.md
  content/blog/syntax-highlighting-test.md
  content/blog/template.md
Due: none

feat: add guide for installing IPFire on Hyper-V VM (#101)
  .cspell.jsonc
  content/blog/blockquotes-examples.md
  content/blog/infrastructure-as-code-best-practices.md
  content/blog/install-ipfire-on-a-hypervm-guest.md
  content/blog/syntax-highlighting-test.md
  content/blog/template.md
  package-lock.json
  package.json
  public/ipfire-deploy.png
  public/team-install-ipfire.png
  scripts/__tests__/remark-floating-images.test.mjs
  scripts/build-blog-data.js
  scripts/plugins/remark-floating-images.js
Due: none

feat: add Mermaid support for blog data processing
  .cspell.jsonc
  app/[locale]/blog/[slug]/page.tsx
  app/code-block-components.css
  components/MermaidRenderer.tsx
  package-lock.json
  package.json
  scripts/build-blog-data.js
Due: components, app

Support dark mode (not visually good)
  app/code-block-components.css
  components/MermaidRenderer.tsx
Due: components, app

Switch mermaid to light theme only (for better clarity)
  app/code-block-components.css
  components/MermaidRenderer.tsx
Due: components, app

chore: add link to Mermaid configuration documentation in MermaidRenderer
  components/MermaidRenderer.tsx
Due: components

feat: add comprehensive guide for all Mermaid diagram types with examples
  content/blog/mermaid-diagrams-comprehensive-guide.md
Due: none

docs: add note on Iconify Icons usage and limitations in architecture diagrams
  content/blog/mermaid-diagrams-comprehensive-guide.md
Due: none

feat: add Mermaid markdown extensions to VSCode configuration
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: none

feat: add default themes for Mermaid markdown in VSCode settings
  .vscode/settings.json
Due: none

feat: add guide for configuring NAT for nested Hyper-V guests on Azure VM
  content/blog/configure-nat-azure-vm-hyperv-host.md
  public/professional-showing-azure-nat.png
Due: none

feat: add "gantt" to cspell dictionary for improved spell checking
  .cspell.jsonc
Due: none

feat: enhance Mermaid diagram rendering with DOMPurify for XSS protection
  components/MermaidRenderer.tsx
Due: components

fix: correct typo in DHCP configuration section of NAT guide
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

refactor: remove redundant title from Mermaid diagrams guide
  content/blog/mermaid-diagrams-comprehensive-guide.md
Due: none

refactor: remove redundant closing statements from Mermaid diagrams guide
  content/blog/mermaid-diagrams-comprehensive-guide.md
Due: none

refactor: format code for improved readability in buildBlogData function
  scripts/build-blog-data.js
Due: none

docs: add comment to clarify temporary disabling of mermaid sanitization
  components/MermaidRenderer.tsx
Due: components

feat: add dompurify and its types as dependencies
  package-lock.json
  package.json
Due: none

refactor: improve comment clarity for mermaid diagram rendering
  components/MermaidRenderer.tsx
Due: components

fix: correct typo in important note formatting
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: standardize language casing in buildBlogData function
  scripts/build-blog-data.js
Due: none

fix: update SVG handling in MermaidRenderer to clear container and safely append SVG elements
  components/MermaidRenderer.tsx
Due: components

test: add comprehensive tests for MermaidRenderer component functionality
  components/__tests__/MermaidRenderer.test.tsx
Due: components

fix: update mermaid version in package.json to a fixed version
  components/MermaidRenderer.tsx
  package-lock.json
  package.json
Due: components

fix: clarify instructions for setting static IP in firewall guest OS
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

fix: simplify styling for Mermaid diagram wrapper in MermaidRenderer
  components/MermaidRenderer.tsx
Due: components

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
