Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

test: add sizes attribute assertion for image in About component tests
  components/__tests__/About.test.tsx
Due: components

fix: update useTranslations mock to return specific closeAriaLabel for better test accuracy
  components/__tests__/ConfirmationModal.test.tsx
Due: components

test: update LanguageSwitcher tests for improved mock handling and keyboard navigation
  components/__tests__/LanguageSwitcher.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
Due: components

fix: update locale validation to use dynamic locales from i18n
  lib/page-translations.ts
Due: lib

refactor: replace inline regex with named constant for heading matching
  lib/slug-utils-server.ts
Due: lib

test: add focus management tests for CookieConsentBanner and error logging tests for MermaidRenderer
  components/AlertIconInjector.tsx
  components/__tests__/CookieConsentBanner.test.tsx
  components/__tests__/MermaidRenderer.test.tsx
  components/__tests__/Team.test.tsx
  lib/__tests__/page-translations.test.ts
  lib/__tests__/slug-utils-client-coverage.test.ts
Due: components, lib

fix: sanitize and coerce readProgress and timeSpent values in analytics POST request
  app/api/analytics/blog-read/__tests__/route.test.ts
  app/api/analytics/blog-read/route.ts
Due: app

fix: localize aria-label and title for social links in BlogPostContent
  components/BlogPostContent.tsx
Due: components

refactor: format import statement for extractTableOfContentsClient in tests
  lib/__tests__/slug-utils-client-coverage.test.ts
Due: lib

feat: refactor BlogPost components to use BlogPostMarkdownContent for safer rendering
  CONTRIBUTING.md
  app/[locale]/blog/[slug]/page.tsx
  biome.json
  components/BlogPostContent.tsx
  components/BlogPostMarkdownContent.tsx
  components/CodeBlockEnhancer.tsx
  components/__tests__/BlogPostContent.test.tsx
  components/__tests__/CodeBlockEnhancer.test.tsx
Due: components, app

feat: enhance accessibility by localizing image indicators in Hero component and updating translations
  components/Hero.tsx
  components/OpenSource.tsx
  components/__tests__/Hero.test.tsx
  content/blog/automating-power-bi-rs-with-dsc-v3.md
  messages/en.json
  messages/sv.json
Due: components

refactor: update troubleshooting section headers for clarity
  CONTRIBUTING.md
Due: none

feat: add minimum height to Table of Contents buttons for improved accessibility
  components/TableOfContents.tsx
  components/__tests__/TableOfContents.test.tsx
Due: components

refactor: update persistence and automation instructions for NAT objects in Hyper-V guide
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

feat: enhance various components for improved accessibility and functionality
  app/code-block-components.css
  components/AlertIconInjector.tsx
  components/CodeBlockEnhancer.tsx
  components/ConfirmationModal.tsx
  components/Header.tsx
  components/ScrollToTop.tsx
  components/TableOfContents.tsx
  components/__tests__/AlertIconInjector.test.tsx
  components/__tests__/Header.test.tsx
  lib/__tests__/analytics.test.ts
  lib/__tests__/file-dates.test.ts
  lib/analytics.ts
  lib/file-dates.ts
  lib/navigation-utils.ts
Due: components, app, lib

feat: improve ReadingProgress and TableOfContents components with enhanced scroll tracking and accessibility features
  components/ReadingProgress.tsx
  components/TableOfContents.tsx
  components/__tests__/ReadingProgress.test.tsx
  components/__tests__/TableOfContents.test.tsx
Due: components

refactor: improve temporary file cleanup logic in extract_prompt_blocks script
  .github/skills/extract-coderabbit-ai-review-comments/scripts/extract_prompt_blocks.sh
Due: none

fix: update script path for extract_prompt_blocks.sh in SKILL.md
  .github/skills/extract-coderabbit-ai-review-comments/SKILL.md
Due: none

feat: update aria-label for homepage link in NotFoundPage component
  components/NotFoundPage.tsx
  components/__tests__/NotFoundPage.test.tsx
Due: components

fix: enhance aria-label for email link in PrivacyPageClient component
  app/[locale]/privacy/PrivacyPageClient.tsx
Due: app

feat: enhance ImageModal accessibility and interaction by adding data-testid and improving event handling
  components/ImageModal.tsx
  components/__tests__/ImageModal.test.tsx
Due: components

feat: improve social link handling and fallback translations in Team component
  components/Team.tsx
  components/__tests__/Team.test.tsx
Due: components

fix: update IP address for VmNAT configuration in Hyper-V guide
  content/blog/configure-nat-azure-vm-hyperv-host.md
Due: none

feat: add fallback view profile text and aria-label for homepage navigation in localization files
  messages/en.json
  messages/sv.json
Due: none

fix: correct grammar in the description of DSC v3 adapters
  content/blog/what-is-dscv3.md
Due: none

fix: update import paths for slug-utils to use absolute paths
  lib/__tests__/slug-utils.test.ts
Due: lib

fix: correct regex for matching heading IDs in addHeadingIds function
  lib/__tests__/slug-utils.test.ts
  lib/slug-utils-server.ts
Due: lib

fix: update Table of Contents visibility check and enhance table overflow handling in blog post tests
  tests/integration/blog-post.spec.ts
Due: none

fix: update .editorconfig to include psd1 files in PowerShell indent settings
  .editorconfig
Due: none

fix: clarify markdownlint `MD013` instructions for disabling and enabling around specific blocks
  .github/instructions/blog-content.instructions.md
Due: none

fix: improve readProgress and timeSpent parsing and validation in POST request
  app/api/analytics/blog-read/route.ts
Due: app

fix: add display names for ChevronUpIcon and ChevronDownIcon components
  components/BlogIcons.tsx
Due: components

fix: ensure type safety for social icon translation key in BlogPostContent component
  components/BlogPostContent.tsx
Due: components

fix: enhance code block processing and improve mutation observer handling in CodeBlockEnhancer component
  components/CodeBlockEnhancer.tsx
Due: components

fix: add aria-labels for cancel and confirm buttons in ConfirmationModal component
  components/ConfirmationModal.tsx
Due: components

fix: enhance keyboard navigation in CookieConsentBanner for better accessibility
  components/CookieConsentBanner.tsx
Due: components

fix: add minimum height and width to Save button for improved accessibility
  components/CookieSettings.tsx
Due: components

fix: add minimum height and width to OpenSource action buttons for improved accessibility
  components/OpenSource.tsx
Due: components

fix: rename interface for ReadingProgress component for clarity
  components/ReadingProgress.tsx
Due: components

fix: ensure dynamic loading fallback is a function in CookieSettingsWrapper test
  components/__tests__/CodeBlockEnhancer.test.tsx
  components/__tests__/CookieSettingsWrapper.test.tsx
  components/__tests__/ImageModal.test.tsx
  lib/__tests__/file-dates.test.ts
Due: components, lib

Path conditions:
  components: any of: components/
  app: any of: app/
  lib: any of: lib/
