Repository viscalyx/viscalyx.se: changes, and which Codecov flags are due for each by the changed paths.
All: components, app, lib

codecov.yml:

# Codecov configuration for viscalyx.se
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  # main should be the baseline for reporting
  branch: main

coverage:
  # Coverage report precision
  precision: 2
  # Coverage percentage rounding
  round: down
  # Coverage range to consider "good"
  range: 70..100

  # Status checks configuration
  status:
    project:
      default:
        target: 20%
        threshold: 1%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib
    patch:
      default:
        target: 20%
        threshold: 2%
        if_ci_failed: error
        flags:
          - components
          - app
          - lib

# PR comment configuration
comment:
  # Layout for PR comments
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# Ignore certain paths for coverage
# ignore:
#   - 'src/**/__tests__/**'
#   - 'src/**/__mocks__/**'
#   - 'coverage/**'
#   - 'test-results/**'
#   - '*.config.js'
#   - '*.config.ts'
#   - '*.setup.ts'
#   - 'scripts/**'
#   - 'public/**'
#   - '.next/**'
#   - 'out/**'
#   - 'node_modules/**'

# GitHub configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase
flags:
  components:
    paths:
      - components/
    carryforward: true
  app:
    paths:
      - app/
    carryforward: true
  lib:
    paths:
      - lib/
    carryforward: true

feat: add Open Graph image alt text for blog in English and Swedish
  app/[locale]/blog/page.tsx
  messages/en.json
  messages/sv.json
Due: app

feat: localize Open Graph images and metadata for blog pages
  app/[locale]/blog/page.tsx
  messages/en.json
  messages/sv.json
  public/og-blog-en.png
  public/og-blog-sv.png
  public/og-blog.png
  scripts/generate-og-images.js
Due: app

feat: export POSTS_PER_PAGE constant and update tests to use it
  components/BlogPostGrid.tsx
  components/__tests__/BlogPostGrid.test.tsx
Due: components

feat: enhance blog post image alt text and conditionally render category label
  components/BlogPostGrid.tsx
Due: components

feat: improve category filter tests and enhance Load More button visibility checks
  tests/integration/blog-listing.spec.ts
Due: none

feat: add precheck script to build site data and update quality checks workflow
  .github/workflows/quality-checks.yml
  package.json
Due: none

feat: enhance metadata generation and validation for blog posts, including absolute OG image URLs and path traversal protection
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  app/[locale]/blog/[slug]/page.tsx
  lib/blog.ts
  tests/integration/blog-post.md
  tests/integration/blog-post.spec.ts
Due: app, lib

refactor: streamline serialization of team members by extracting toSerializable function
  lib/team.ts
Due: lib

test: enhance blog post tests for path traversal and slug validation
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  lib/__tests__/blog.test.ts
  lib/__tests__/team.test.ts
  tests/integration/blog-post.md
  tests/integration/blog-post.spec.ts
Due: app, lib

refactor: optimize share notification handling by replacing state with ref
  components/BlogPostContent.tsx
Due: components

refactor: update trackPageView to be asynchronous and handle errors silently
  app/[locale]/blog/[slug]/page.tsx
  lib/__tests__/blog.test.ts
  lib/blog.ts
Due: app, lib

refactor: improve error handling in mockNotFound and update import paths in tests
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
Due: app

refactor: add imageAlt property validation in blog data serialization
  lib/blog.ts
Due: lib

refactor: update image alt attribute to use imageAlt property for better accessibility
  app/[locale]/blog/page.tsx
Due: app

docs: update memory requirements for Docker in contributing guidelines
  CONTRIBUTING.md
Due: none

refactor: update test:integration:ui script to specify ui-host for better configuration
  package.json
Due: none

refactor: update Playwright reporter configuration to prevent automatic opening of reports
  playwright.config.ts
  playwright.preview.config.ts
Due: none

refactor: centralize site URL in constants for consistent usage across components and metadata
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  app/[locale]/blog/[slug]/page.tsx
  app/[locale]/blog/page.tsx
  app/metadata.ts
  app/sitemap.ts
  components/BlogPostContent.tsx
  components/BlogPostGrid.tsx
  lib/__tests__/blog.test.ts
  lib/blog.ts
  lib/constants.ts
  tests/integration/README.md
  tests/integration/blog-listing.spec.ts
  tests/integration/blog-post.md
  tests/integration/blog-post.spec.ts
Due: components, app, lib

refactor: improve error handling and validation in OG image generation script
  scripts/generate-og-images.js
Due: none

refactor: enhance documentation for server and client components, including testing guidelines
  .github/copilot-instructions.md
  .github/instructions/components.instructions.md
  .github/instructions/tests.instructions.md
Due: none

docs: clarify server and client component usage in Copilot instructions
  .github/copilot-instructions.md
Due: none

docs: add spacing for clarity in component instructions and fix formatting in test instructions
  .github/instructions/components.instructions.md
  .github/instructions/tests.instructions.md
Due: none

docs: add AI instructions to .prettierignore for improved formatting efficiency
  .prettierignore
Due: none

test: add unit tests for blog functions and OG image generation script
  app/[locale]/blog/__tests__/page.test.tsx
  app/[locale]/blog/page.tsx
  app/__tests__/sitemap.test.ts
  components/__tests__/BlogPostContent.test.tsx
  lib/__tests__/blog.test.ts
  scripts/__tests__/generate-og-images.test.mjs
  scripts/generate-og-images.js
Due: components, app, lib

chore: update GitHub Actions to use latest versions of checkout, setup-node, upload-artifact, and github-script
  .github/workflows/integration-tests.yml
Due: none

docs: simplify dependency auditing instructions by removing Snyk references
  CONTRIBUTING.md
Due: none

feat: enhance BlogPostContent component with improved notification handling and category sanitization
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  app/[locale]/blog/page.tsx
  components/BlogPostContent.tsx
  components/__tests__/BlogPostContent.test.tsx
  lib/__tests__/blog.test.ts
  lib/blog.ts
  lib/constants.ts
  messages/en.json
  messages/sv.json
  scripts/__tests__/generate-og-images.test.mjs
  scripts/generate-og-images.js
  tests/integration/blog-listing.spec.ts
Due: components, app, lib

chore: update @opennextjs/cloudflare and lucide-react dependencies to latest versions
  package-lock.json
  package.json
Due: none

feat: enhance BlogPostContent component with timeout handling for scroll animations and improve accessibility attributes
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  app/[locale]/blog/page.tsx
  components/BlogPostContent.tsx
  lib/__tests__/blog.test.ts
  messages/en.json
  messages/sv.json
  scripts/__tests__/generate-og-images.test.mjs
Due: components, app, lib

fix: correct comments for clarity and consistency in BlogPostPage tests
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
Due: app

fix: update import order for clarity in component instructions
  .github/instructions/components.instructions.md
Due: none

feat: update BlogPostContent component with improved sharing functionality and accessibility enhancements
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  components/BlogPostContent.tsx
  components/__tests__/BlogPostContent.test.tsx
  messages/en.json
  messages/sv.json
  scripts/__tests__/generate-og-images.test.mjs
Due: components, app

fix: update Related Articles test to use toBeVisible for improved reliability
  tests/integration/blog-post.spec.ts
Due: none

feat: add date fallback translation and update BlogPostContent for improved accessibility
  components/BlogPostContent.tsx
  components/__tests__/BlogPostContent.test.tsx
  lib/blog.ts
  messages/en.json
  messages/sv.json
Due: components, lib

fix: simplify Related Articles visibility test for improved readability
  tests/integration/blog-post.spec.ts
Due: none

fix: update test mocks for BlogPostContent and generate-og-images for improved accuracy and consistency
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  components/__tests__/BlogPostContent.test.tsx
  scripts/__tests__/generate-og-images.test.mjs
Due: components, app

feat: add "macbook" to custom spell check dictionary for improved accuracy
  .cspell.jsonc
Due: none

feat: enhance blog content instructions and improve accessibility in BlogPostContent component
  .github/instructions/blog-content.instructions.md
  app/[locale]/blog/[slug]/__tests__/page.test.tsx
  components/BlogPostContent.tsx
  scripts/generate-og-images.js
Due: components, app

fix: update category instruction for clarity and consistency in blog content guidelines
  .github/instructions/blog-content.instructions.md
Due: none
